@import "../../../_vars";

form {
  max-width: 90%;
  width: 475px;
  margin: 0 auto;
  padding: 15px;
}
.mat-form-field {
  padding: 15px 15px 0 15px;
  margin-bottom: 2px;
}
input[type="password"] {
  border: none;
  padding: 0 10px;
  height: 18px;
}
.password-wrapper {
  .mat-form-field-infix {
    border-top: none;
  }
  .mat-form-field-label-wrapper {
    top: 0;    
  }
}
button {
  transform: none;
  float: right;
  top: 9.3rem;
  right: -4rem;
  z-index: 2;
  &[disabled]{
    background: #D7D8DC !important;
  }
}