<div class="container flex-full-viewport-center">
  <div class="row">
    <div class="col-12">
      <!-- Title of an Card -->
      <div class="text-center">
        
          <img class="logo" [src]="'assets/images/logo.png' | staticPath" />
      </div>

      <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onFormSubmit(loginForm)">
        <div>
          <button mat-raised-button color="primary" class="mat-primary" [disabled]="!loginForm.valid">Sign in</button>
        </div>
        <mat-form-field class="full-width white-bg">
          <input matInput placeholder="Email" autocomplete="off"  formControlName="email" >
          <mat-hint  *ngIf="!formSubmitted || ( formSubmitted && loginForm.value.email.length === 0 )">use like : demo@demo.com</mat-hint>
          <mat-error *ngIf="isControlInvalid('email')">
            <span>Please enter Email</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width white-bg password-wrapper">
          <input matInput placeholder="Password" autocomplete="off" type="password" formControlName="password" >
          <mat-hint *ngIf="!formSubmitted || ( formSubmitted && loginForm.value.password.length === 0 )">One letter, one number, one capital letter. Minimum 8 characters</mat-hint>
          <mat-error *ngIf="isControlInvalid('password') && loginForm.value.password.length === 0">
            <span>Please enter password</span>
          </mat-error>
          <mat-error *ngIf="isControlInvalid('password') && loginForm.value.password.length > 0">
            <span>Password is invalid. It has to contain one letter, one number, one capital letter and consist of minimum 8 characters</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width white-bg">
          <input matInput placeholder="Location" formControlName="location" >
        </mat-form-field>

        <div class="flex-between aic my-medium">
          <mat-checkbox formControlName="rememberMe" >Remember me</mat-checkbox>
          <a [routerLink]="'/auth/forgot'">Forgot Password?</a>
        </div>

        
      </form>
    </div>
  </div>
</div>
