
<div class="cases-wrap df fc">
  <div class="cases-info">
    <router-outlet></router-outlet>
  </div>

  <div class="case-additional df">
    <app-sps-panel [inCaseView]="true"></app-sps-panel>
    <app-case-additional class="f1 df"></app-case-additional>
  </div>
</div>