.cases-wrap {
  height: 100%;
}

.cases-info, .case-additional {
  flex: 1 1 50%;
}
.cases-info {
  margin-bottom: 20px;
}
.case-additional {
  box-shadow: -11px 9px 21px 0 rgba(173, 182, 217, 0.17);
}
app-sps-panel {
  flex: 0 1 300px;
}
