<form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
    <p-chips formControlName="searchValues" [max]="maxValues" (keydown)="onKeypress($event)"></p-chips>
    <!-- <mat-form-field class="example-full-width">
        <mat-icon matPrefix>search</mat-icon>
      <input type="text" placeholder="Search" aria-label="Number" (input)="filterItem(myControl.value)"  matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" >
        <div *ngIf="showOptions">
          <mat-option *ngFor="let option of filteredOptions" [value]="option">
            <a [routerLink]="'search-result'" class="search-result">{{option}}</a>
          </mat-option>
        </div>
      </mat-autocomplete>
    </mat-form-field> -->
  </form>