@import '../../../_vars';
form {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  mat-form-field {
    flex: 1 1 auto;
    .mat-form-field-wrapper {
      padding: 0;
    }
  }
}
p-chips {
  width: 100%;
}
:host /deep/ {
  .ui-chips.ui-widget {
    height: 100%;
    width: 100%;
  }
  .ui-inputtext.ui-state-focus, .ui-inputtext:focus {
    box-shadow: none;
  }
  ul.ui-inputtext.ui-state-default.ui-corner-all {
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    border: 1px solid transparent;

  }
  .ui-chips-token {
    margin-bottom: 0;
    height: 38px;
    border-radius: 40px;
    background: transparent;
    border: 1px solid $brand-color;
    color: #333;
    line-height: 32px;
    margin-right: 15px;
  }
  .ui-chips-token-icon.pi-times {
    right: 0;
    width: 25px;
    vertical-align: middle;
    height: 25px;
    cursor: pointer;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .ui-chips-token-icon.pi-times:before,
  .ui-chips-token-icon.pi-times:after {
    content: '';
    width: 85%;
    position: absolute;
    right: 5px;
    top: 48%;
    display: inline-block;
    height: 1px;
    background-color: #999;
  } 
  .ui-chips-token-icon.pi-times:before {
    transform: rotate(-45deg);
  }
  .ui-chips-token-icon.pi-times:after {
    transform: rotate(45deg); 
  }
  .ui-chips-input-token input:focus {
    border: none;
    padding: 3px 3px 3px 20px;
  }
}