.activities-list {
  height: 100%;
  background-color: #fff;
  .table-wrap {
    overflow:auto;
    max-height: 366px;
  }
  table {
    margin-bottom: 0;
    width: 100%;
    th {
      padding-top: 20px;
      padding-bottom: 15px;
      background-color: #F5F7F9;
      font-family: Lato, sans-serif;
      font-size: 13px;
      font-weight: normal;
      color: #b0b8cc;
      border-bottom: 1px solid #ecedf4;
      &:first-child {
        padding-left: 15px;
      }
    }
    td {
      padding: 6px 15px;
      &:first-child {
        padding-left: 15px;
      }
      p {
        margin-bottom: 0;
        font-family: Lato, sans-serif;
        font-size: 14px;
        color: #555555;
      }
    }
    tr {
      td {
        background-color: #FAFBFC;
      }
      &:nth-child(2n) {
        td {
          background-color: #F5F7F9;
        }
      }
      &.done {
        td {
          background-color: #E0FBE1;
        }
      }
    }
    .date {
      width: 125px;
    }
    .type {
      width: 190px;
    }
    .status {
      width: 150px;
    }
    .result {
      width: 160px;
    }
    .actions {
      width: 105px;
      a {
        cursor: pointer;
      }
      a, app-icons {
        width: 100%;
        display: block;
        text-align: center;
      }
    }

  }
}