
<div class="activities-list">
  <table>
    <thead>
      <tr>
        <th class="date">Creation Date</th>
        <th class="author">Created By</th>
        <th class="type">Type</th>
        <th class="status">Status</th>
        <th class="result">Result</th>
        <th class="actions"></th>
      </tr>
    </thead>
  </table>
  <div class="table-wrap">
    <table>
      <tbody>
        <tr *ngFor="let activity of activities" [ngClass]="{'done':activity.status === 'Done'}">
          <td class="date"><p>{{activity.date | date:'dd/MM/yyyy'}}</p></td>
          <td class="author">
            <p>{{activity.author}}</p>
            <p>{{activity.position}}</p>
          </td>
          <td class="type"><p>{{activity.type}}</p></td>
          <td class="status"><p>{{activity.status}}</p></td>
          <td class="result"><p>{{activity.result}}</p></td>
          <td class="actions"><a ><app-icons [name]="'arrow-right'" [style]="{'width': 'unset','padding':'8px 15px','color': '#555'}"></app-icons></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>