.user-profile-wrap {
  height: 100%;
  padding: 5px;
  overflow: hidden;
  max-width: 280px;
}

.menu {
  flex: 1 1 auto;
  .username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 190px;
    display: block;
  }
}