<div class="flex-between aic user-profile-wrap">
    <div class="circle-img flex-center">
      <img src="http://placehold.it/100x100" />
    </div>
    <div class="menu">
        <span class="username" title="{{username}}">{{username}}</span>
      <!-- <mat-menu #rootMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="subMenu">Power</button>
        <button mat-menu-item>System settings</button>
      </mat-menu>
      
      <mat-menu #subMenu="matMenu">
        <button mat-menu-item>Shut down</button>
        <button mat-menu-item>Restart</button>
        <button mat-menu-item>Hibernate</button>
      </mat-menu>
      
      <div class="mat-select-trigger" [matMenuTriggerFor]="rootMenu">
        <div class="mat-select-value">
          <span class="mat-select-placeholder" title="{{username}}">{{username}}</span>
        </div>
        <div class="mat-select-arrow-wrapper">
          <div class="mat-select-arrow"></div>
        </div>
      </div> -->
      <!-- <button mat-icon-button [matMenuTriggerFor]="rootMenu" class="username-btn"> -->
        <!-- <mat-icon>more_vert</mat-icon> -->
      <!-- </button> -->
    </div>
  </div>