.top-menu {
  display: flex;
  align-items: stretch;
  height: 90px;
  box-shadow: 0 4px 20px rgba(100,100,100,0.4);
  background-color: #fff;
}
app-search {
  flex: 1 1 auto;
  min-width: 350px;
}
app-user-profile {
  flex: 0 1 200px;
}

.notifications, .logout {
  width: 90px;
  min-width: 90px;
  border-left: 1px solid #dadada;
}
.img-wrap {
  position: relative;
}
.badge {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #EB3232;
  border-radius: 50%;
  height: 20px;
  min-width: 20px;
  line-height: 21px;
  color: #fff;
  font-size: 10px;
  padding: 0 5px;

}