<div class="top-menu">

  <app-search class="flex-start"></app-search>

  <app-user-profile-dropdown></app-user-profile-dropdown>

  <!-- <div class="notifications flex-center">
    <span class="img-wrap ">
      <a href="">
        <app-icons [name]="'bell'" [style]="{'width':'40px'}"></app-icons>
        <span class="badge">12</span>
      </a>
    </span>
  </div> -->
  <div class="logout flex-center" (click)="onLogout()">
      <a> <app-icons [name]="'power'" [style]="{'width':'40px'}"></app-icons></a>
  </div>
</div>