<p-tabView [activeIndex]="tabIndex" (onChange)="onTabChange($event)">
  <p-tabPanel *ngFor="let day of days; let i = index " [ngClass]="{'active':i == tabIndex}" [selected]="i == tabIndex" header="{{day | date:'dd/MM/yyyy'}}" [headerStyleClass]="tabIndex == i ? 'active' : ''">
    <ng-template pTemplate="content">
      <div class="panels  p-round-x-large">

        <div class="panel df fc aic">
          <div class="panel-header">
            Panel
          </div>
          <p class="text py-small">Daily Average Health</p>
          <div class="panel-content">
            <app-icons [name]="'sun-panel-red'" [style]="{'width':'102px','height':'unset'}"></app-icons>
          </div>
          <div class="panel-footer">Poor</div>
        </div>

        <div class="panel df fc aic">
          <div class="panel-header">
            Battery
          </div>
          <p class="text py-small">Battery Level</p>
          <div class="panel-content df ">
            <div class="battery-wrap" [ngStyle]="{'background': calcHeight(50)}">
              <p class="first">Sunrise</p>
              <app-icons [name]="'battery'" [style]="{'width':'24px','height':'96px', 'background':'inherit'}"></app-icons>
              <p class="last">50%</p>
            </div>
            
            <div class="battery-wrap" [ngStyle]="{'background': calcHeight(12)}">
              <p class="first">Sunset</p>
              <app-icons [name]="'battery'" [style]="{'width':'24px','height':'96px', 'background':'inherit'}"></app-icons>
              <p class="last">12%</p>
            </div>

            <div class="battery-wrap" [ngStyle]="{'background': calcHeight(92)}">
              <p class="first">Max</p>
              <app-icons [name]="'battery'" [style]="{'width':'24px','height':'96px', 'background':'inherit'}"></app-icons>
              <p class="last">92%</p>

            </div>
          </div>
          <div class="panel-footer"></div>
        </div>
        
        <div class="panel df fc aic">
          <div class="panel-header">
            Charge State
          </div>
          <p class="text py-small">Daily Average Charge State</p>
          <div class="panel-content">
            <div class="progress-bar-wrap">
              <div class="numbers-wrap">
                <span class="vline" ></span><span class="d1line" ></span>
                <span class="hline" ></span><span class="d2line" ></span>

                <span class="vline" ></span><span class="d1line" ></span>
                <span class="hline" ></span><span class="d2line" ></span>
              </div>
              <div class="info-wrap">
                <p class="title">{{currentChargeState}}%</p>
              </div>
              <round-progress
              [current]="currentChargeState"
              [max]="100"
              [background]="'#EDF0F6'"
              [radius]="40"
              [stroke]="4"
              [semicircle]="false"
              [rounded]="true"
              [clockwise]="false"
              [responsive]="false"
              [duration]="800"
              [animation]="'easeInOutQuart'"
              [animationDelay]="0"
              color="#de4846"></round-progress>
            </div>
          </div>
          <div class="panel-footer">Low Discharge</div>
        </div>
        
        <div class="panel df fc aic">
            <div class="panel-header">
              Daily Average Load
            </div>
            <p class="text py-small">Load</p>
            <div class="panel-content">
                <div class="progress-bar-wrap">
                    
                    <div class="info-wrap" style="padding-top: 0;top: 50%; transform: translate(-50%, -50%)">
                      <p class="load-arrow" [ngStyle]="calcAngle(currentLoad)" >
                        <app-icons [name]="'speedometer-arrow'" [style]="calcAngle(0)"></app-icons>
                      </p>
                    </div>
                    <round-progress style="transform: rotate(-90deg)"
                    [current]="50"
                    [max]="100"
                    [background]="'#EDF0F6'"
                    [radius]="40"
                    [stroke]="4"
                    [semicircle]="false"
                    [rounded]="true"
                    [clockwise]="true"
                    [responsive]="false"
                    [duration]="800"
                    [animation]="'easeInOutQuart'"
                    [animationDelay]="0"
                    [color]="loadColor()"></round-progress>
                  </div>
            </div>
            <div class="panel-footer">
              <span *ngIf="currentLoad > 66">Overload</span>
              <span *ngIf="currentLoad < 66 && currentLoad > 33">Normal</span>
              <span *ngIf="currentLoad < 33">Small</span>
            </div>
          </div>

          
        <div class="panel df fc aic">
          <div class="panel-header">
            Daily Average
          </div>
          <p class="text py-small">Without Reception</p>
          <div class="panel-content">
            <div class="bars">
              
            </div>
          </div>
          <div class="panel-footer">0 min</div>
        </div>
        
      </div>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="today" [ngClass]="{'active':days.length == tabIndex}" [headerStyleClass]="tabIndex == days.length ? 'today active' : 'today'">
    <ng-template pTemplate="content">
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="snapshot" [ngClass]="{'active':days.length+1 == tabIndex}" [headerStyleClass]="tabIndex == days.length+1 ? 'snapshot active' : 'snapshot'">
    <ng-template pTemplate="content">
    </ng-template>
  </p-tabPanel>
</p-tabView>
