@import '../../../../../_vars';
:host /deep/ {
  p-tabview {
    @extend .flex-next;
    .ui-tabview {
      flex: 1 1 auto;
    }
    p-tabpanel.active {
      @extend .flex-center;
      .ui-tabview-panel {
        flex-direction: row;
        width: 100%;
        .panels {
          flex-direction: row !important;
          width: 100%;
          .panel {
            margin: 0 10px;
          }
        }
      }
    } 
  }
  .ui-tabview .ui-tabview-nav {
    padding: 0 !important;
    border-bottom: none;
    background-color: #f9fafc;
    &> li.ui-state-default {
      &.today a {
        color: #f9c734;
      }
      &.active a {
        color: $brand-color;
        font-weight: 600;
      }
    }
    .ui-tabview-selected a {
      border-bottom: none;
    }
  }
  .panels {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .panel {
    height: 220px;
    width: 155px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #979797;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    &>* {
      padding-left: 10px;
      padding-right: 10px;
    }
    &:hover {
      box-shadow: 0 13px 23px -5px rgba(157, 142, 230, 0.34);
      border-color: #b9b3e2;
      .panel-header {
        background-color: $brand-color;
        color: #fff;
      }
    }
    .panel-header {
      align-self: stretch;
      font-family: Lato, sans-serif;
      transition: background-color 0.2s ease, color 0.2s ease;
      font-size: 14px;
      font-weight: normal;
      color: #555555;
      background-color: #f1f3f8;
      text-align: center;
      line-height: 38px;
    }
    .text {
      font-family: Lato, sans-serif;
      font-size: 10px;
      text-align: center;
      margin-bottom: 0;
      color: #555555;
    }
    .panel-footer {
      padding: 15px 10px;
      margin-top: auto;
      font-family: Lato, sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: #555555;
    }
    .battery-wrap {
      text-align: center;
      position: relative;
      height: 96px;
      top: 12px;
      p.first {
        font-family: Lato, sans-serif;
        font-size: 10px;
        color: #b0b8cc;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
      p.last {
        position: absolute;
        bottom: -36px;
        font-family: Lato, sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        color: #555555;
      }
    }
    .battery-wrap:not(:last-child) {
      margin-right: 12px;
    }
  }
  .progress-bar-wrap {
    padding: 9px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    .info-wrap {
      position: absolute;
      padding-top: 23px;
      width: 130px;
      left: 50%;
      transform: translateX(-50%);
      font-family: Lato, sans-serif;
      color: #555555;
      text-align: center;
      .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
      }
      .subtitle {
        font-size: 12px;
        margin-bottom: 0;
      }
      .text {
        font-size: 12px;
        color: #b0b8cc;
        app-icons {
          position: relative;
          top: 4px;
        }
      }
    }
  } 
  round-progress {
    margin: 0 auto;
  }
  .numbers-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    span {
      position: absolute;
      background-color: #C9D0E3;
      &.vline, &.d1line {
        height: 7px;
        width: 2px;
      }
      &.hline, &.d2line{
        width: 7px;
        height: 2px;
      }
      &:nth-child(1) {
        transform: translateX(-50%);
        left: 50%;
        top: 0;
      }
      &:nth-child(2){
        left: 84%;
        transform: translate(0, 100%) rotate(45deg);
        top: 7px;
      }
      &:nth-child(3) {
        left: 100%;
        transform: translate(-75%, -50%);
        top: 50%;
      }
      &:nth-child(4) {
        left: 88%;
        transform: translate(-100%, 100%) rotate(45deg);
        top: 81%;
      }
      &:nth-child(5) {
        top: 100%;
        transform: translate(-50%, -100%);
        left: 50%;
      }
      &:nth-child(6) {
        left: 17%;
        transform: translate(-25%, -75%) rotate(45deg);
        top: 86%;
      }
      &:nth-child(7) {
        left: 0;
        transform: translate(-10%, -50%);
        top: 50%;
      }
      &:nth-child(8) {
        left: 12%;
        transform: translate(0%, 100%) rotate(45deg);
        top: 15px;
      }
    }
  }
  .load-arrow {
    transform-origin: 100% 50%;
    left: -20px;
    position: relative;
    width: 40px;
    margin-bottom: 0;
    display: inline-block;
  }
}
