<div class="container-fluid user-component df fc f1">
  <div class="row no-gutters user-component_panel f1">
    <div class="col-auto no-margin df fc user-info">
      <table class="table-dark no-margin">
        <thead>
          <tr>
            <th>
                MTN CI 2017
            </th>
            <th>
                <div class="more">
                  <button type="button" class="menu-button" [ngClass]="{'show': isOpen}" (click)="isOpen = !isOpen" appClickOutside>
                    <app-icons [name]="'more'" [style]="{'width': '100%','height': '100%', 'display':'flex'}"></app-icons>
                  </button>
                  <div class="popup-menu">
                    <p class="popup-menu_item">Option</p>
                  </div>
                </div>
            </th>
          </tr>
        </thead>
        <tr>
          <td><span class="label">Status</span></td>
          <td>
            <p>Payment</p>
          </td>
        </tr>
        <tr>
            <td><span class="label">Debt</span></td>
            <td>
              <p>234</p>
            </td>
          </tr>
        <tr>
          <td><span class="label">Min Usage</span></td>
          <td>
            <p>15</p>
          </td>
        </tr>
        <tr>
          <td><span class="label">Seniority</span></td>
          <td>
            <p>765</p>
          </td>
        </tr>
        <tr>
          <td><span class="label">Free Use</span></td>
          <td>
            <p>1800</p>
          </td>
        </tr>
        <tr>
          <td><span class="label">Due Date</span></td>
          <td>
            <p>28/04/2018</p>
          </td>
        </tr>
        <tr>
          <td><span class="label">Light Days</span></td>
          <td>
            <p>132</p>
          </td>
        </tr>
      </table>
      <div class="footer text-center">
        <div class="button no-margin" (click)="toggleDebtHistoryVisibility()">{{buttonText}} Debt History </div>
      </div>
    </div>
    <div class="col debt-history no-margin df fc">
      <table class="table-light" *ngIf="historyShown">
        <thead>
          <tr>
            <th>
              Creation Date
            </th>
            <th>
              Number
            </th>
            <th>
              Status
            </th>
            <th>
              Type
            </th>
            <th>
              SubType
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let debt of debts" >
            <td>
              <p class="truncate">{{debt.date | date:"MM/dd/yyyy"}}</p>
            </td>
            <td>
              <p class="truncate">{{debt.number}}</p>
            </td>
            <td>
              <p class="truncate">{{debt.status}}</p>
            </td>
            <td>
              <p class="truncate">{{debt.type}}</p>
            </td>
            <td>
              <p class="truncate">{{debt.subtype}}</p>
            </td>
          </tr>
      </tbody>
      </table>
      <div class="footer text-right">
        <div class="button button-primary no-margin" (click)="refreshDebtHistory()">Refresh </div>
      </div>
    </div>
  </div>
</div>
