@import '../../../_vars';

.sps-panel-wrap {
  box-shadow: -11px 9px 21px 0 rgba(173, 182, 217, 0.17);
  background-color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  .panel-header {
    padding: 10px 20px 0;
    width: 100%;
    text-align: left;
    .title {
      color: $brand-color;
      font-family: Lato, sans-serif;
      font-size: 14px;
      font-weight: 600;
    }
  }
  .panel-image {
    padding: 0 20px;
    width: 100%;
    .title {
      font-family: Lato, sans-serif;
      font-size: 14px;
      font-weight: normal;
      color: #555555;
    }
  }
  .panel-table {
    padding: 0 20px;
    width: 100%;
    table {
      width: 100%;
      table-layout: fixed;
      text-align: left;
      th {
        border-bottom: 1px solid #ecedf4;
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-weight: normal;
        color: #a4a4a4;
      }
      tr:nth-child(2n){
        td {
          background-color: #FBFCFD;
        }
      }
      td {
        padding: 3px 5px;
        border-bottom: none;
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-weight: normal;
        color: #555555;
        &:first-child {
          color: #a4a4a4;
        }
      }
    }
  }
  .footer {
    margin: 0 20px;
    padding: 15px 0;
    margin-top: auto;
    border-top: 1px solid #ecedf4;
    align-self: stretch;
    .button {
      width: 100%;
    }
  }
}

.progress-bar-wrap {
  padding: 25px;
  width: 260px;
  margin: 0 auto;
  position: relative;
  .info-wrap {
    position: absolute;
    padding-top: 23px;
    width: 130px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Lato, sans-serif;
    color: #555555;
    text-align: center;
    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0;
    }
    .subtitle {
      font-size: 12px;
      margin-bottom: 0;
    }
    .text {
      font-size: 12px;
      color: #b0b8cc;
      app-icons {
        position: relative;
        top: 4px;
      }
    }
  }
} 
round-progress {
  margin: 0 auto;
}
.numbers-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  span {
    position: absolute;
    font-family: Lato, sans-serif;
    font-size: 10px;
    color: #555555;
    &:nth-child(1){
      left: 75%;
      transform: translate(-100%, 100%);
      top: 10px;
    }
    &:nth-child(2) {
      left: 85%;
      transform: translate(-100%, -50%);
      top: 50%;
    }
    &:nth-child(3) {
      left: 75%;
      transform: translate(-100%, 100%);
      top: 65%;
    }
    &:nth-child(4) {
      top: 88%;
      transform: translateX(-50%);
    }
    &:nth-child(5) {
      left: 25%;
      transform: translate(-25%, 100%);
      top: 65%;
    }
    &:nth-child(6) {
      left: 15%;
      transform: translate(-15%, -50%);
      top: 50%;
    }
    &:nth-child(7) {
      left: 25%;
      transform: translate(-25%, 100%);
      top: 10px;
    }
    &:nth-child(8) {
      transform: translateX(-50%);
      top: 5px;
    }
  }
}





.sps-panel-wrap.case-view {
  background-color:#F7F8FB;
  box-shadow: none;
  .panel-title {
    border-bottom: 2px solid #F1F2F7;
  }
  .panel-table {
    padding: 0; 
    table {
      td {
        padding: 8px 5px;
        background-color: #F7F8FB;
        &:first-child {
          padding-left: 20px;
        }
        &:last-child {
          padding-right: 20px;
        }
      }
      tr:nth-child(2n) td {
        background-color: #F1F3F8;
      }
    }
  }
}