<div class="sps-panel-wrap df fc aic" [ngClass]="{'case-view':inCaseView}">
  <div class="panel-header">
    <p class="title">SPS: 12342902</p>
  </div>
  <div class="panel-image" *ngIf="!inCaseView">
    <p class="title">Days to Use Free</p>
    <div class="progress-bar-wrap">
        <div class="numbers-wrap">
          <span *ngFor="let number of circleNumbers">{{number}}</span>
        </div>
        <div class="info-wrap">
          <p class="title">{{current}}</p>
          <p class="subtitle">Seniority (Days)</p>
          <span class="text"><app-icons [name]="'sun'" [style]="{'color':'#b0b8cc', 'width':'18px','height':'18px','margin-right':'5px'}"></app-icons>0.7</span>
        </div>
        <round-progress
        [current]="current"
        [max]="max"
        [background]="'#EDF0F6'"
        [radius]="63"
        [stroke]="8"
        [semicircle]="false"
        [rounded]="true"
        [clockwise]="true"
        [responsive]="false"
        [duration]="800"
        [animation]="'easeInOutQuart'"
        [animationDelay]="0"
        color="url(#your-gradient-id)"></round-progress>
        <!-- <round-progress
        [current]="current"
        [max]="max"
        [color]="'#45ccce'"
        [background]="'#eaeaea'"
        [radius]="125"
        [stroke]="20"
        [semicircle]="true"
        [rounded]="true"
        [clockwise]="false"
        [responsive]="false"
        [duration]="800"
        [animation]="'easeInOutQuart'"
        [animationDelay]="0"
        color="url(#your-gradient-id)"></round-progress> -->
    </div>
  </div>
  <div class="panel-table">
    <table class="fixed" *ngIf="!inCaseView">
      <thead>
        <tr>
          <th>Missing days: 140</th>
          <th>In Light Days: 327</th>
        </tr>
      </thead>
    </table>
    <div class="table-wrap">
      <table>
        <tbody>
          <tr>
            <td>Status:</td>
            <td>Ready for Install</td>
          </tr>
          <tr>
            <td>Payment Status:</td>
            <td>Paid</td>
          </tr>
          <tr>
            <td>End of Active (date):</td>
            <td>03/06/2018</td>
          </tr>
          <tr>
            <td>End of Active (time):</td>
            <td>08:40:32</td>
          </tr>
          <tr>
            <td>Seniority (Days):</td>
            <td>765</td>
          </tr>
          <tr>
            <td>Credit Balance:</td>
            <td>234</td>
          </tr>
          <tr>
            <td>Failed:</td>
            <td>28/4/2018</td>
          </tr>
          <tr>
            <td>Failed:</td>
            <td>28/5/2018</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="footer" *ngIf="!inCaseView">
    <div class="button button-primary no-margin" [routerLink]="'/case'">Health Dashboard</div>
  </div>
</div>
<svg style="height: 0;overflow: hidden;position: absolute;width: 0;" *ngIf="!inCaseView">
  <linearGradient id="your-gradient-id" x1="0" x2="0" y1="0" y2="1">
    <stop offset="5%"  stop-color="#F7CA1D"/>
    <stop offset="95%" stop-color="#DE4945"/>
  </linearGradient>
</svg>