<div class="flex-full-viewport">
  <mat-sidenav-container >
    <mat-sidenav mode="side" opened class="pt-x-lagre">
        <app-left-bar></app-left-bar>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-top-bar></app-top-bar>
      
      <div class="content p-round-medium">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>