mat-sidenav-container {
  height: 100vh;
  background: #F5F6FA;
}
mat-sidenav {
  width: 315px;
  app-left-bar { 
    width: 100%;
  }
}
.content {
  display: flex;
  min-height: calc(100vh - 90px);
}
:host /deep/ {
  app-dashboard {
    width: 100%;
    display: flex;
  }
}