<div class="container-fluid user-component df fc f1">
    <div class="row no-gutters user-component_panel f1">
      <div class="col cases no-margin df fc">
        <table class="table-light">
          <thead>
            <tr>
              <th>
                Creation Date
              </th>
              <th>
                Number
              </th>
              <th>
                Status
              </th>
              <th>
                Type
              </th>
              <th>
                SubType
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let case of cases" >
              <td>
                <p class="truncate">{{case.date | date:"MM/dd/yyyy"}}</p>
              </td>
              <td>
                <p class="truncate">{{case.number}}</p>
              </td>
              <td>
                <p class="truncate">{{case.status}}</p>
              </td>
              <td>
                <p class="truncate">{{case.type}}</p>
              </td>
              <td>
                <p class="truncate">{{case.subtype}}</p>
              </td>
            </tr>
        </tbody>
        </table>
        <div class="footer text-right">
          <div class="button button-primary no-margin" (click)="openNewCase()">Open New Case </div>
        </div>
      </div>
    </div>
  </div>
  