@import '../../../_vars';
.sort {
  height: 40px;
  rect {
    transition: transform 0.2s ease;
  }
  .top-rect {
    transform: scaleX(1.45);
  }
  .bottom-rect {
    transform: scaleX(0.65);
  }
  &.asc {
    .top-rect {
      transform: scaleX(1);
    }
    .bottom-rect {
      transform: scaleX(1);
    }
  }
}
app-icons[ng-reflect-name="setup"] {
  color: $brand-color;
}
.name {
  min-width: 300px;
  width: 27.5%;
}
.created {
  min-width: 137px;
  width: 13.4%;

}
.phone {
  min-width: 168px;
  width: 16%;
}
.id {
  min-width: 133px;
  width: 13.1%;
}
.SPS {
  min-width: 87px;
  width: 10%;
}
.actions {
  min-width: 180px;
  width: 12%;
}
.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 15px;
}
.results-table table th,
.results-table table td {
  border-bottom: none;
}


td.name a {
  font-size: 18px;
  color: #5D38DB;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 300px;
  vertical-align: middle;
  display: inline-block;
}
.circle-img {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 60px;
  min-width: 60px;
  margin-right: 15px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  img {
    width: 100%;
  }
}
.filters > * {
  margin-left: 8px;
}
.results-table {
  overflow: auto;
  max-height: 79vh;
  max-height: calc(100vh - 209px);
  margin-right: -22px;
  padding: 5px;
}
.results-table table {
  width: 100%;
  margin-bottom: 0;
}

.single-customer-wrap table {
  border: 1px solid transparent;
  background-color: #fff;
  box-shadow: 2px 2px 11px 1px #ddd;
  margin-bottom: 10px;
}
.actions .button {
  border-radius: 2px;
  padding: 0 60px;
  height: 38px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  margin-right: 15px;
  transition: box-shadow 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
  &:focus {
    box-shadow: 2px 2px 5px 2px #ddd;
  }
  &:hover, &:focus {
    color: #fff;
    background-color: $brand-color;
    border-color: $brand-color;
  }
}
// .icon-wrap {
//   cursor: pointer;
//   margin: 0 15px;
//   color:#9C9C9C;
//   &:hover {
//     color: darken(#9C9C9C, 5%);
//   }
// }