<div class="px-x-large pt-x-large">
  <div class="flex-between">
    <h4 class="brand-color">Search result</h4>
    <!-- <form [formGroup]="searchForm" (ngSubmit)="onFormSubmit(searchForm.value)">
      <div class="filters flex-end aic">
        Select
        
        <p-dropdown [options]="filterOptions" formControlName="selected" optionLabel="label"></p-dropdown>

        <app-icons [name]="'setup'" [style]="{'height':'30px','width': '30px','vertical-align': 'middle'}" (click)="toggleSort()"></app-icons>

        <svg class="sort" [ngClass]="sortDirectionAscending ? 'asc' : '' " (click)="toggleSort()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve">
          <rect class="top-rect" x="0" y="277.333" width="260" height="42.667" fill="#5d38db"/>
          <rect x="0" y="170.667" width="320" height="42.667" fill="#5d38db"/>
          <rect class="bottom-rect" x="0" y="64" width="384" height="42.667" fill="#5d38db"/>
        </svg>

      </div>
    </form> -->
  </div>

  <div class="results-table">

    <div matSort (matSortChange)="sortData($event)">
      <div>
        <table >
          <thead>
            <tr>
              <th class="name" mat-sort-header="name">Customer Name</th>
              <th class="created" mat-sort-header="created">Created on</th>
              <th class="phone" mat-sort-header="phone">Phone Number</th>
              <th class="id" mat-sort-header="id">Contact ID</th>
              <th class="SPS" mat-sort-header="SPS">SPS</th>
              <th class="active">Active</th>
              <th class="actions">&nbsp;</th>
            </tr>
          </thead>
        </table>
      </div>
      <div *ngFor="let customer of sortedData" class="single-customer-wrap">
        <table >
          <tbody>
            <tr>
              <td class="name" ><span class="circle-img"> <img src="{{customer.img}}" alt="" /></span>{{customer.name}}</td>
              <td class="created" >{{customer.createdOn | date:'MM/dd/yyyy' }}</td>
              <td class="phone" >{{customer.phone}}</td>
              <td class="id" >{{customer.id}}</td>
              <td class="SPS" >{{customer.SPS}}</td>
              <td class="active">
                <mat-slide-toggle [checked]="customer.active" disabled ></mat-slide-toggle>
              </td>
              <td class="actions"> 
                  <button class="button" (click)="showCustomer(customer)">View</button>
                  <!-- <app-icons class="icon-wrap" [name]="'trash'" [style]="{'height':'30px','width': '30px','vertical-align': 'middle'}"></app-icons>
                  <app-icons class="icon-wrap" [name]="'edit'" [style]="{'height':'30px','width': '30px','vertical-align': 'middle'}"></app-icons> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>