<!-- {{contract | json}} -->
<div class="container-fluid user-component df fc f1">
  <div class="row no-gutters f1">
    <div class="col df fc">
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>Log type</th>
              <th>Log</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of logs">
              <td>{{log.type}}</td>
              <td>{{log.text}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="footer">
        <button class="button button-primary no-margin">Refresh</button>
      </div>
    </div>
  </div>
</div>