
table {
  width: 100%;
  border-collapse: collapse;
  tr td {
    background-color: #fff;
    padding: 5px 15px;
    font-size: 14px;
    font-family: Lato, sans-serif;
    color: #555555;
    border-bottom: none;
  }
  tr:nth-child(2n) td{
    background-color: #FBFCFD;
  }
  thead {
    th {
      background-color: #F6F7FA;
      padding: 7px 15px;
      font-family: Lato, sans-serif;
      font-weight: normal;
      font-size: 13px;
      line-height: 1.54;
      color: #b0b8cc;
    }
  }
}
.table {
  max-height: 300px;
  overflow: auto;
}
.footer {
  margin: auto 0 0;
  text-align: right;
  border-top: 1px solid #ecedf4;
  padding: 15px;
}
.button {
  text-transform: capitalize;
  line-height: 3.4;
  width: 200px;
  font-family: Lato, sans-serif;
  font-size: 13px;
}
