<div class="case-list-wrap df">
  <div class="case-list df fc white-bg">
    <form [formGroup]="newCaseForm" (ngSubmit)="onSubmit()">
      <p-tabView [activeIndex]="0">
        <p-tabPanel header="New Case">
          <ng-template pTemplate="content">
            <div class="container-fluid main-case p-round-medium">
              <div class="row no-gutters">
                <div class="col no-margin table-wrap">
                  <table>
                    <tr>
                      <td>
                        <div class="form-group">
                          <label for="name"><span class="required">*</span>Name: </label>
                          <input id="name" type="text" pInputText autocomplete="off" formControlName="username"/>
                          <span></span>
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <label for="type"><span class="required">*</span>Type: </label>
                          <input id="type" type="text" pInputText autocomplete="off" formControlName="type"/>
                          <span></span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-group">
                          <label for="status"><span class="required">*</span>Status: </label>
                          <input id="status" type="text" pInputText autocomplete="off" formControlName="status"/>
                          <span></span>
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <label for="subtype"><span class="required">*</span>Subtype: </label>
                          <input id="subtype" type="text" pInputText autocomplete="off" formControlName="subtype"/>
                          <span></span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2"> 
                        <div class="form-group">
                          <label for="complaint1"><span class="required">*</span>Customer Complaint: </label>
                          <input id="complaint1" type="text" pInputText  formControlName="complaint1"/>
                          <span></span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="form-group">
                          <label for="complaint2"><span class="required">*</span>Customer Complaint: </label>
                          <input id="complaint2" type="text" pInputText formControlName="complaint2" />
                          <span></span>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel *ngFor="let case of casesToshow; let i = index" header="Case: {{case.id}}" [disabled]="true">
          <ng-template pTemplate="content">
            
          </ng-template>
        </p-tabPanel>
        <div class="more disabled">
          <button type="button" class="menu-button" [ngClass]="{'show': isOpen}" (click)="isOpen = !isOpen" appClickOutside>
            <app-icons [name]="'more'" [style]="{'width': '100%','height': '100%', 'display':'flex'}"></app-icons>
          </button>
        </div>
      </p-tabView>
      <div class="footer p-round-medium text-right">
        <p class="case-created-info"><span class="required" [routerLink]="'/case'">* Required Fields</span> Created on Jun 13, 2018 by ADMIIN</p>
        <div class="button no-margin" (click)="cancel()" [routerLink]="'/case'">Cancel</div>
        <button type="submit" class="button button-primary no-margin">Save </button>
      </div>
    </form>
  </div>
  <app-case-activities-list></app-case-activities-list>
</div>
