@import '../../../../_vars';
:host /deep/ {
  table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0;
  }
  td {
    border-bottom: none;
  }
  .form-group {
    position: relative;
    width: 100%;
    input,
    label {
      line-height: 30px;
      height: 30px;
      padding: 0;
      margin: 0;
    }
    input {
      display: block;
      width: 100%;
      background-color: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #c1c2c4;
      &+span {
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 1px;
        transition: width 0.2s ease, left 0.2s ease;
        width: 0;
        background-color: transparent;
      }
      &:focus {
        box-shadow: none;
        outline: 0;
        &+span {
          width: 100%;
          left: 0%;
          background-color: $brand-color;
        }
      }
      &#name {
        text-indent: 4.2em;
      }
      &#status {
        text-indent: 4.4em;
      }
      &#type {
        text-indent: 3.7em;
      }
      &#subtype {
        text-indent: 5.2em;
      }
      &#complaint1,
      &#complaint2 {
        text-indent: 10.8em;
      }
    }
    label {
      z-index: 2;
      float: left;
      display: block;
      position: relative;
      top: -1px;
      width: 0;
      white-space: nowrap;
      background-color: #fff;
      left: 0.5em;
      color: #999;
    }
  }
  .ui-tabview-panel {
    padding: 0;
    p {
      margin: 0;
      padding: 6px 15px;
    }
  }
  .ui-tabview-nav {
    display: flex;
  }
  .ui-tabview .ui-tabview-nav {
    &>li.ui-state-default,
    &>li:not(.ui-state-active):not(.ui-state-disabled):hover,
    .ui-tabview-selected {
      .ui-tabview-title {
        max-width: 95px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
      }
    }
    .ui-tabview-selected a {
      .ui-tabview-title {
        max-width: unset;
      }
    }
  }
  .ui-menu.ui-widget-content {
    left: unset !important;
    right: 0;
    top: 100% !important;
  }
  .menu-button {
    padding: 5px;
    border: none;
    height: 35px;
    color: #afafaf;
    margin: 0;
    &:hover {
      color: #999;
    }
    app-icons {
      width: 20px;
      height: 20px;
      display: block;
    }
  }
  .ui-tabview {
    padding: 0;
    position: relative;
    min-height: 100%;
    .ui-tabview-nav {
      padding: 15px 45px 0 15px !important;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      &>li.ui-state-default,
      &>li:not(.ui-state-active):not(.ui-state-disabled):hover,
      .ui-tabview-selected {
        background-color: transparent;
        border: none;
        z-index: 1;
        font-size: 14px;
      }
      .ui-tabview-selected a {
        color: $brand-color;
        border-bottom: 2px solid $brand-color;
      }
    }
  }
}
.case-list {
  min-width: 570px;
  flex: 0 1 570px;
}
.required {
  color: #b00;
  margin-right: 3px;
}
.footer {
  .required {
    float: left;
    font-size: 12px;
  }
  .case-created-info {
    font-family: Lato, sans-serif;
    font-size: 10px;
    color: #9b9b9b;
    padding-bottom: 8px;
    border-bottom: 1px solid #ecedf4;
  }
  .button {
    line-height: 44px;
    margin-left: 10px;
    width: 160px;
    font-size: 14px;
  }
}

.more {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right;
  z-index: 0;
  .popup-menu_item a {
    text-decoration: none;
    color: inherit;
  }
  &.disabled {
    pointer-events: none;
  }
}