@import '../../../../_vars';
:host /deep/ {
  .ui-dropdown {
    width: 100% !important;
  }
  .ui-inputtext {
    padding: 0.5em 0.7em;
  }
  .ui-dropdown-trigger {
    color: #888888;
    border: none;
  }
  .ui-dropdown-panel {
    border-radius: 4px;
    box-shadow: -10px 9px 21px 0 rgba(128, 152, 213, 0.08);
    border: solid 1px #e8ebf2;
  }
  .ui-dropdown-items {
    padding: 0;
    .ui-dropdown-item {
      padding: 0.7em 0.9em;
      background-color: transparent;
      &.ui-state-highlight {
        position: relative;
        background-color: transparent;
        color: $brand-color;
        text-indent: 12px;
        &:before {
          display: block;
          content: '';
          position: absolute;
          left: 13px;
          top: 15px;
          width: 0;
          height: 0;
          border-left: 8px solid $brand-color;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
        }
      }
      &:hover {
        background-color: #F6F7FA;
      }
    }
  }
}
.activity-new {
  height: 100%;
  background-color: #fff;
  .header {
    background-color: #F5F7F9;
    border-bottom: solid 1px #ecedf4;
    padding: 20px 15px 16px;
    p {
      margin-bottom: 0;
      font-family: Lato, sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: $brand-color;
    }
  }
  form {
    background-color: #FAFBFC;
    height: 100%;
    .form-block {
      flex: 1 1 auto;
    }
    
    .form-group {
      position: relative;
      width: 100%;
      &.has-info {
        margin-bottom: 2rem;
        .form-control-info {
          text-align: right;
          font-family: Lato, sans-serif;
          font-size: 12px;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.38);
          position: absolute;
          right: 0;
          width: 100%;
        }
      }
      input,
      label {
        line-height: 30px;
        height: 30px;
        padding: 0;
        margin: 0;
      }
      textarea {
        resize: none;
        min-height: 30px;
      }
      input, textarea {
        display: block;
        width: 100%;
        background-color: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #c1c2c4;
        &+span {
          display: block;
          position: absolute;
          left: 50%;
          bottom: 0;
          height: 1px;
          transition: width 0.2s ease, left 0.2s ease;
          width: 0;
          background-color: transparent;
        }
        &:focus {
          box-shadow: none;
          outline: 0;
          &+span {
            width: 100%;
            left: 0%;
            background-color: $brand-color;
          }
        }
      }
    }
  }
  .table-wrap {
    overflow:auto;
    max-height: 366px;
  }
  table {
    margin-bottom: 0;
    width: 100%;
    border-collapse: collapse;
    td {
      padding: 6px 15px;
      border-bottom: none;
      &:first-child {
        padding-left: 15px;
      }
      p {
        margin-bottom: 0;
        font-family: Lato, sans-serif;
        font-size: 14px;
        color: #555555;
      }
    }
    tr {
      td {
        background-color: #FAFBFC;
      }
    }
  }
}
.footer {
  .button {
    line-height: 44px;
    margin-left: 10px;
    width: 160px;
    font-size: 14px;
  }
}