
<div class="activity-new df fc">
  <div class="header">
    <p>New Case Activity</p>
  </div>
  <form class="df fc f1 mb-0 p-round-medium" [formGroup]="newActivityForm" (ngSubmit)="onSubmit()">
    <div class="form-block">
        <div class="container-fluid no-padding">
          <div class="row no-gutters">
            <div class="col no-margin">
              <table>
                <tr>
                  <td>
                    <div class="form-group">
                      <p-dropdown [options]="types" formControlName="type" ></p-dropdown>
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <p-dropdown [options]="requests" formControlName="request" ></p-dropdown>
                      <span></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <p-dropdown [options]="departments" formControlName="department" ></p-dropdown>
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                        <p-dropdown [options]="statuses" formControlName="status" ></p-dropdown>
                      <span></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"> 
                    <div class="form-group has-info">
                      
                      <input [maxlength]="explanationMaxLength" pInputText formControlName="explanation" placeholder="Explanation" />
                      <span></span>
                      <p class="form-control-info">{{newActivityForm.value.explanation.length}} / {{explanationMaxLength}}</p>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

    </div>
    <div class="footer p-round-medium text-right">
      <button type="button" class="button no-margin" (click)="cancelAddingActivity()" >Cancel</button>
      <button type="submit" class="button button-primary no-margin" >Save </button>
    </div>
  </form>
</div>