<img class="logo" [src]="'assets/images/logo.png' | staticPath" />

<!-- <mat-nav-list>
  <a mat-list-item [routerLink]="nav.link" *ngFor="let nav of navLinks">{{nav.name}}</a>
</mat-nav-list> -->
<mat-nav-list>
  <div *ngFor="let mainItem of navLinks">
    <a mat-list-item (click)="mainItem.showSubmenu = !mainItem.showSubmenu" class="parent mat-list-item" [ngClass]="{'expanded' : mainItem.showSubmenu}" >
      <span class="full-width" *ngIf="mainItem.isExpanded || mainItem.isShowing">{{mainItem.name}}</span>
      <mat-icon mat-list-icon>{{mainItem.img}}</mat-icon>
      <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
    </a>
    <div class="submenu" [ngClass]="{'expanded' : mainItem.showSubmenu}" *ngIf="mainItem.isShowing || mainItem.isExpanded" [ngStyle]="{ 'max-height': mainItem.showSubmenu ? 48*mainItem.childs.length+'px' : '0' }">
      <a *ngFor="let subItem of mainItem.childs" mat-list-item [routerLink]="'/'+subItem.link">{{subItem.name}}</a>
    </div>
  </div>

  <!-- <div mat-list-item (click)="showSubMenu = !showSubMenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
  </div>
  <div class="submenu" [ngClass]="{'expanded' : showSubMenu}" *ngIf="isShowing || isExpanded">
    <a mat-list-item>Submenu Item 1</a>
    <a mat-list-item>Submenu Item 2</a>
  </div> -->
</mat-nav-list>
