img.logo {
  display: block;
  margin: 20px auto 30px;
}
button.mat-icon-button[disabled] {
  display: none;
}


.example-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
mat-nav-list.mat-nav-list > div {
  border-bottom: 1px solid #ddd;
  &:first-child {
    border-top: 1px solid #ddd;
  }
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease, max-height 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
}
.submenu > a {
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}
.parent {
  text-transform: uppercase;
}
.parent.expanded {
  color: #fff;
  background-color: #5D38DB;
}