<span class="icon color-inherit" *ngIf="name === 'bell'" [ngStyle]="style" >
  <svg   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
    <path d="M256,0c-37.554,0-68.11,30.556-68.11,68.11v20.55h35.229V68.11c0-18.131,14.755-32.881,32.881-32.881    c18.131,0,32.887,14.749,32.887,32.881v20.55h35.229V68.11C324.116,30.556,293.555,0,256,0z" fill="#d8dfe5"/>
    <path d="M304.147,429.205c0,26.228-21.337,47.565-47.56,47.565h-1.174c-26.222,0-47.56-21.337-47.56-47.565h-35.229    c0,45.657,37.138,82.795,82.789,82.795h1.174c45.651,0,82.789-37.138,82.789-82.795H304.147z" fill="#d8dfe5"/>
    <path d="M483.952,422.623l-50.043-77.851v-99.928c0-99.071-79.812-179.67-177.908-179.67c-98.102,0-177.908,80.599-177.908,179.67    v99.928l-50.043,77.845c-3.488,5.419-3.734,12.313-0.646,17.967c3.088,5.654,9.013,9.177,15.46,9.177h426.275    c6.447,0,12.371-3.523,15.454-9.171C487.686,434.936,487.44,428.043,483.952,422.623z M75.127,414.532l35.394-55.063    c1.826-2.836,2.801-6.148,2.801-9.524V244.844c0-79.642,64.006-144.44,142.679-144.44c78.679,0,142.679,64.799,142.679,144.44    v105.101c0,3.376,0.969,6.682,2.795,9.524l35.394,55.063H75.127z" fill="#d8dfe5"/>
  </svg>
</span>

<span class="icon color-inherit" *ngIf="name === 'power'" [ngStyle]="style" >
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve">
    <path d="M221.742,46.906c-7.28-3.954-16.387-1.259-20.341,6.021c-3.955,7.279-1.259,16.386,6.02,20.341   C242.937,92.561,265,129.626,265,170c0,60.654-49.346,110-110,110S45,230.654,45,170c0-40.198,21.921-77.186,57.208-96.531   c7.265-3.982,9.925-13.1,5.943-20.364c-3.983-7.264-13.101-9.925-20.364-5.943C42.891,71.775,15,118.844,15,170   c0,77.196,62.804,140,140,140s140-62.804,140-140C295,118.62,266.929,71.453,221.742,46.906z" fill="#d8dfe5"/>
    <path d="M155,130c8.284,0,15-6.716,15-15V15c0-8.284-6.716-15-15-15c-8.284,0-15,6.716-15,15v100   C140,123.284,146.716,130,155,130z" fill="#d8dfe5"/>
  </svg>
</span>

<span class="icon color-inherit" *ngIf="name === 'setup'" [ngStyle]="style" >
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 188.053 188.053" style="enable-background:new 0 0 188.053 188.053;" xml:space="preserve">
    <path d="M46.447,3.164H7.5c-4.142,0-7.5,3.358-7.5,7.5v38.947c0,4.142,3.358,7.5,7.5,7.5h38.947   c4.142,0,7.5-3.358,7.5-7.5V10.664C53.947,6.522,50.589,3.164,46.447,3.164z M38.947,42.111H15V18.164h23.947V42.111z" fill="#5d38db"/>
    <path d="M113.5,3.164H74.553c-4.142,0-7.5,3.358-7.5,7.5v38.947c0,4.142,3.358,7.5,7.5,7.5H113.5   c4.142,0,7.5-3.358,7.5-7.5V10.664C121,6.522,117.642,3.164,113.5,3.164z M106,42.111H82.053V18.164H106V42.111z" fill="#5d38db"/>
    <path d="M180.553,3.164h-38.947c-4.142,0-7.5,3.358-7.5,7.5v38.947c0,4.142,3.358,7.5,7.5,7.5h38.947   c4.142,0,7.5-3.358,7.5-7.5V10.664C188.053,6.522,184.695,3.164,180.553,3.164z M173.053,42.111h-23.947V18.164h23.947V42.111z" fill="#5d38db"/>
    <path d="M46.447,67.053H7.5c-4.142,0-7.5,3.358-7.5,7.5V113.5c0,4.142,3.358,7.5,7.5,7.5h38.947   c4.142,0,7.5-3.358,7.5-7.5V74.553C53.947,70.411,50.589,67.053,46.447,67.053z M38.947,106H15V82.053h23.947V106z" fill="#5d38db"/>
    <path d="M113.5,67.053H74.553c-4.142,0-7.5,3.358-7.5,7.5V113.5c0,4.142,3.358,7.5,7.5,7.5H113.5   c4.142,0,7.5-3.358,7.5-7.5V74.553C121,70.411,117.642,67.053,113.5,67.053z M106,106H82.053V82.053H106V106z" fill="#5d38db"/>
    <path d="M180.553,67.053h-38.947c-4.142,0-7.5,3.358-7.5,7.5V113.5c0,4.142,3.358,7.5,7.5,7.5h38.947   c4.142,0,7.5-3.358,7.5-7.5V74.553C188.053,70.411,184.695,67.053,180.553,67.053z M173.053,106h-23.947V82.053h23.947V106z" fill="#5d38db"/>
    <path d="M46.447,130.941H7.5c-4.142,0-7.5,3.358-7.5,7.5v38.947c0,4.142,3.358,7.5,7.5,7.5h38.947   c4.142,0,7.5-3.358,7.5-7.5v-38.947C53.947,134.299,50.589,130.941,46.447,130.941z M38.947,169.889H15v-23.947h23.947V169.889z" fill="#5d38db"/>
    <path d="M113.5,130.941H74.553c-4.142,0-7.5,3.358-7.5,7.5v38.947c0,4.142,3.358,7.5,7.5,7.5H113.5   c4.142,0,7.5-3.358,7.5-7.5v-38.947C121,134.299,117.642,130.941,113.5,130.941z M106,169.889H82.053v-23.947H106V169.889z" fill="#5d38db"/>
    <path d="M180.553,130.941h-38.947c-4.142,0-7.5,3.358-7.5,7.5v38.947c0,4.142,3.358,7.5,7.5,7.5h38.947   c4.142,0,7.5-3.358,7.5-7.5v-38.947C188.053,134.299,184.695,130.941,180.553,130.941z M173.053,169.889h-23.947v-23.947h23.947   V169.889z" fill="#5d38db"/>
  </svg>
</span>

<span class="icon color-inherit" *ngIf="name === 'trash'" [ngStyle]="style" >
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" >
    <path d="M465.423,48.241h-137.61V23.955C327.813,10.746,317.082,0,303.893,0h-95.785c-13.19,0-23.92,10.746-23.92,23.955V48.24    H46.577c-6.655,0-12.049,5.394-12.049,12.049c0,6.655,5.394,12.049,12.049,12.049h22.332l15.228,396.396    C85.069,492.995,104.818,512,129.099,512h253.804c24.281,0,44.03-19.006,44.96-43.267l15.228-396.396h22.332    c6.653,0,12.049-5.394,12.049-12.049C477.472,53.635,472.078,48.241,465.423,48.241z M208.285,24.097h95.43v24.143h-95.43V24.097z     M403.784,467.809c-0.433,11.268-9.605,20.094-20.882,20.094H129.099c-11.276,0-20.448-8.827-20.882-20.095L93.025,72.338h325.952    L403.784,467.809z"/>
    <path d="M182.63,181.571c-0.127-6.575-5.494-11.817-12.042-11.817c-0.078,0-0.158,0-0.236,0.002    c-6.652,0.128-11.943,5.626-11.815,12.278l3.781,196.634c0.126,6.575,5.495,11.817,12.042,11.817c0.078,0,0.158,0,0.236-0.002    c6.653-0.128,11.943-5.624,11.815-12.278L182.63,181.571z"/>
    <path d="M255.998,169.753c-6.654,0-12.049,5.394-12.049,12.049v196.634c0,6.654,5.394,12.049,12.049,12.049    c6.655,0,12.049-5.394,12.049-12.049V181.802C268.047,175.148,262.653,169.753,255.998,169.753z"/>
    <path d="M341.645,169.756c-6.628-0.147-12.151,5.162-12.278,11.815l-3.781,196.634c-0.129,6.653,5.162,12.15,11.815,12.278    c0.078,0.001,0.158,0.002,0.236,0.002c6.546,0,11.916-5.244,12.042-11.817l3.781-196.634    C353.588,175.38,348.299,169.883,341.645,169.756z"/>
  </svg>
</span>

<span class="icon color-inherit" *ngIf="name === 'edit'" [ngStyle]="style" >
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 55.25 55.25" style="enable-background:new 0 0 55.25 55.25;" xml:space="preserve">
    <path d="M52.618,2.631c-3.51-3.508-9.219-3.508-12.729,0L3.827,38.693C3.81,38.71,3.8,38.731,3.785,38.749  c-0.021,0.024-0.039,0.05-0.058,0.076c-0.053,0.074-0.094,0.153-0.125,0.239c-0.009,0.026-0.022,0.049-0.029,0.075  c-0.003,0.01-0.009,0.02-0.012,0.03l-3.535,14.85c-0.016,0.067-0.02,0.135-0.022,0.202C0.004,54.234,0,54.246,0,54.259  c0.001,0.114,0.026,0.225,0.065,0.332c0.009,0.025,0.019,0.047,0.03,0.071c0.049,0.107,0.11,0.21,0.196,0.296  c0.095,0.095,0.207,0.168,0.328,0.218c0.121,0.05,0.25,0.075,0.379,0.075c0.077,0,0.155-0.009,0.231-0.027l14.85-3.535  c0.027-0.006,0.051-0.021,0.077-0.03c0.034-0.011,0.066-0.024,0.099-0.039c0.072-0.033,0.139-0.074,0.201-0.123  c0.024-0.019,0.049-0.033,0.072-0.054c0.008-0.008,0.018-0.012,0.026-0.02l36.063-36.063C56.127,11.85,56.127,6.14,52.618,2.631z   M51.204,4.045c2.488,2.489,2.7,6.397,0.65,9.137l-9.787-9.787C44.808,1.345,48.716,1.557,51.204,4.045z M46.254,18.895l-9.9-9.9  l1.414-1.414l9.9,9.9L46.254,18.895z M4.961,50.288c-0.391-0.391-1.023-0.391-1.414,0L2.79,51.045l2.554-10.728l4.422-0.491  l-0.569,5.122c-0.004,0.038,0.01,0.073,0.01,0.11c0,0.038-0.014,0.072-0.01,0.11c0.004,0.033,0.021,0.06,0.028,0.092  c0.012,0.058,0.029,0.111,0.05,0.165c0.026,0.065,0.057,0.124,0.095,0.181c0.031,0.046,0.062,0.087,0.1,0.127  c0.048,0.051,0.1,0.094,0.157,0.134c0.045,0.031,0.088,0.06,0.138,0.084C9.831,45.982,9.9,46,9.972,46.017  c0.038,0.009,0.069,0.03,0.108,0.035c0.036,0.004,0.072,0.006,0.109,0.006c0,0,0.001,0,0.001,0c0,0,0.001,0,0.001,0h0.001  c0,0,0.001,0,0.001,0c0.036,0,0.073-0.002,0.109-0.006l5.122-0.569l-0.491,4.422L4.204,52.459l0.757-0.757  C5.351,51.312,5.351,50.679,4.961,50.288z M17.511,44.809L39.889,22.43c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0  L16.097,43.395l-4.773,0.53l0.53-4.773l22.38-22.378c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L10.44,37.738  l-3.183,0.354L34.94,10.409l9.9,9.9L17.157,47.992L17.511,44.809z M49.082,16.067l-9.9-9.9l1.415-1.415l9.9,9.9L49.082,16.067z" fill="#b5b5b5"/>
  </svg>
</span>

<span class="icon color-inherit" *ngIf="name === 'more'" [ngStyle]="style" >
  <svg class="full-width" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
    <path d="M8,22c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S12.411,22,8,22z"/>
    <path d="M52,22c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S56.411,22,52,22z"/>
    <path d="M30,22c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S34.411,22,30,22z"/>
  </svg>
</span>

<span class="icon color-inherit" *ngIf="name === 'sun'" [ngStyle]="style" >
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve">
     <path d="M101.488,78.864L78.864,56.24c-6.24-6.248-16.384-6.248-22.624,0c-6.248,6.248-6.248,16.376,0,22.624l22.624,22.624
       c3.12,3.128,7.216,4.688,11.312,4.688c4.096,0,8.192-1.56,11.312-4.688C107.736,95.24,107.736,85.112,101.488,78.864z"/>
     <path d="M48,176H16c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h32c8.832,0,16-7.168,16-16C64,183.168,56.832,176,48,176z"/>
     <path d="M101.488,282.512c-6.24-6.248-16.384-6.248-22.624,0L56.24,305.136c-6.248,6.248-6.248,16.376,0,22.624
       c3.12,3.128,7.216,4.688,11.312,4.688s8.192-1.56,11.312-4.688l22.624-22.624C107.736,298.888,107.736,288.76,101.488,282.512z"/>
     <path d="M192,320c-8.832,0-16,7.168-16,16v32c0,8.832,7.168,16,16,16c8.832,0,16-7.168,16-16v-32C208,327.168,200.832,320,192,320
       z"/>
     <path d="M327.76,305.136l-22.624-22.624c-6.24-6.248-16.384-6.248-22.624,0c-6.248,6.248-6.248,16.376,0,22.624l22.624,22.624
       c3.12,3.128,7.216,4.688,11.312,4.688s8.192-1.56,11.312-4.688C334.008,321.512,334.008,311.384,327.76,305.136z"/>
     <path d="M368,176h-32c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h32c8.832,0,16-7.168,16-16C384,183.168,376.832,176,368,176
       z"/>
     <path d="M327.76,56.24c-6.24-6.248-16.384-6.248-22.624,0l-22.624,22.624c-6.248,6.248-6.248,16.376,0,22.624
       c3.12,3.128,7.216,4.688,11.312,4.688s8.192-1.56,11.312-4.688l22.624-22.624C334.008,72.616,334.008,62.488,327.76,56.24z"/>
     <path d="M192,0c-8.832,0-16,7.168-16,16v32c0,8.832,7.168,16,16,16c8.832,0,16-7.168,16-16V16C208,7.168,200.832,0,192,0z"/>
     <path d="M192,88c-57.344,0-104,46.656-104,104s46.656,104,104,104s104-46.656,104-104S249.344,88,192,88z M192,264
       c-39.696,0-72-32.304-72-72s32.304-72,72-72s72,32.304,72,72S231.696,264,192,264z"/>
  </svg>
</span>

<span class="icon color-inherit" *ngIf="name === 'arrow-right'" [ngStyle]="style" >
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
      <path d="M501.333,245.325H10.667C4.779,245.325,0,250.104,0,255.992s4.779,10.667,10.667,10.667h490.667
        c5.888,0,10.667-4.779,10.667-10.667S507.221,245.325,501.333,245.325z"/>
      <path d="M508.864,248.461L338.197,77.795c-4.16-4.16-10.923-4.16-15.083,0c-4.16,4.16-4.16,10.923,0,15.083l170.667,170.667
        c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.531-3.115C513.024,259.384,513.024,252.621,508.864,248.461z"/>
      <path d="M508.864,248.461c-4.16-4.16-10.923-4.16-15.083,0L323.115,419.128c-4.16,4.16-4.16,10.923,0,15.083
        c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.531-3.115l170.667-170.667
        C513.024,259.384,513.024,252.621,508.864,248.461z"/>
    </svg>
</span>

<span class="icon" *ngIf="name === 'sun-panel-red'" [ngStyle]="style" >
  <svg viewBox="0 0 112 96" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M28.3001 0.317899C28.2964 0.310598 28.2928 0.303075 28.2893 0.295327L28.2947 0.306653L28.7455 0.0903407C28.2947 0.306653 28.2947 0.306693 28.2948 0.306788L28.295 0.30725L28.2959 0.309149L28.2996 0.316816L28.3001 0.317899ZM27.79 0.550728C28.0543 0.55571 28.2659 0.561012 28.4189 0.566571C28.4643 0.661979 28.5215 0.782216 28.5892 0.924871C28.7768 1.32051 29.0449 1.88855 29.3667 2.57767C30.0104 3.95614 30.8684 5.81805 31.726 7.75326C32.5842 9.68966 33.4397 11.6941 34.0798 13.3593C34.4 14.1924 34.6639 14.9341 34.8469 15.5366C35.0357 16.1578 35.1208 16.5761 35.1208 16.7897C35.1208 19.3315 33.9104 21.6495 31.1607 23.356C28.3876 25.077 24.0382 26.1779 17.801 26.1779C11.5811 26.1779 7.23599 24.9049 4.46275 23.0962C1.69632 21.2919 0.5 18.9648 0.5 16.7897C0.5 16.5339 0.587842 16.0829 0.775108 15.4462C0.95795 14.8245 1.22149 14.0708 1.54146 13.2315C2.18108 11.5536 3.03608 9.55956 3.89401 7.64241C4.75138 5.72653 5.60907 3.89321 6.25263 2.53847C6.57434 1.86122 6.8424 1.30388 7.02997 0.915974C7.09715 0.777031 7.15401 0.659834 7.1993 0.566666C7.35248 0.561072 7.56492 0.555739 7.83077 0.550728C8.42696 0.539491 9.27918 0.530096 10.3034 0.522572C12.3513 0.507527 15.0805 0.5 17.8104 0.5C20.5402 0.5 23.2695 0.507527 25.3173 0.522572C26.3416 0.530096 27.1938 0.539491 27.79 0.550728ZM7.31878 0.321525L7.31937 0.3203L7.32304 0.312814L7.32395 0.310965L7.32416 0.310518C7.32421 0.310428 7.32423 0.310391 6.87525 0.0903407L7.32423 0.310391L7.3298 0.299014C7.32626 0.306744 7.32258 0.314247 7.31878 0.321525Z" transform="translate(38.7031 68.7411)" fill="#C5CDE1" stroke="#C5CDE1"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5786 1.65593C18.4114 0.698595 17.5802 0 16.6084 0H2.21073C1.02721 0 0.102556 1.02208 0.220717 2.19968L1.38087 13.7618C1.48343 14.7839 2.34363 15.5621 3.37087 15.5621H18.6276C19.8697 15.5621 20.8115 14.4417 20.5978 13.218L18.5786 1.65593Z" transform="translate(81.6309 0.934692)" fill="#F3F3F3"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9267 1.83062C18.8387 0.795446 17.9728 0 16.9339 0H2.0182C0.906547 0 0.00821105 0.90651 0.0182798 2.01812L0.123008 13.5802C0.132948 14.6777 1.02542 15.5621 2.12293 15.5621H17.9166C19.088 15.5621 20.0086 14.5599 19.9094 13.3927L18.9267 1.83062Z" transform="translate(58.7969 0.934692)" fill="#F3F3F3"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0755 2.01812C20.0856 0.906513 19.1872 0 18.0756 0H3.16224C2.12346 0 1.2576 0.795252 1.16946 1.83029L0.184781 13.3924C0.0853694 14.5597 1.00604 15.5621 2.17757 15.5621H17.9708C19.0683 15.5621 19.9608 14.6777 19.9707 13.5802L20.0755 2.01812Z" transform="translate(34.1367 0.934692)" fill="#F3F3F3"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7861 2.19995C20.9044 1.02226 19.9797 0 18.7961 0H4.40053C3.4288 0 2.59769 0.698462 2.4304 1.65568L0.409711 13.2178C0.195846 14.4415 1.13759 15.5621 2.37985 15.5621H17.6344C18.6615 15.5621 19.5217 14.784 19.6244 13.7621L20.7861 2.19995Z" transform="translate(9.47656 0.934692)" fill="#F3F3F3"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9552 1.64875C19.785 0.694743 18.9553 0 17.9862 0H2.21537C1.03019 0 0.104997 1.02483 0.22579 2.20384L1.63813 15.9891C1.74266 17.0094 2.60207 17.7853 3.62772 17.7853H20.4455C21.6906 17.7853 22.6331 16.6598 22.4144 15.434L19.9552 1.64875Z" transform="translate(83.457 20.9431)" fill="#F3F3F3"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5172 1.82483C20.4264 0.792134 19.5616 0 18.5249 0H2.01838C0.906661 0 0.0082959 0.906624 0.0184681 2.0183L0.144608 15.8036C0.154649 16.9009 1.04709 17.7853 2.14452 17.7853H19.7369C20.9106 17.7853 21.832 16.7793 21.7292 15.6101L20.5172 1.82483Z" transform="translate(58.7969 20.9431)" fill="#F3F3F3"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9017 2.01857C21.9121 0.906787 21.0137 0 19.9018 0H3.39363C2.35686 0 1.49198 0.792274 1.4013 1.82507L0.190957 15.6103C0.0883101 16.7794 1.00969 17.7853 2.18329 17.7853H19.7739C20.8712 17.7853 21.7636 16.9011 21.7738 15.8038L21.9017 2.01857Z" transform="translate(32.3105 20.9431)" fill="#F3F3F3"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.6077 2.20409C22.7287 1.025 21.8035 0 20.6182 0H4.84967C3.88069 0 3.0511 0.694611 2.8808 1.64851L0.419798 15.4338C0.200957 16.6596 1.14345 17.7853 2.38867 17.7853H19.2041C20.2296 17.7853 21.089 17.0095 21.1936 15.9894L22.6077 2.20409Z" transform="translate(5.82227 20.9431)" fill="#F3F3F3"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0356 1.64253C21.8628 0.691409 21.0345 0 20.0678 0H2.21984C1.03306 0 0.107349 1.02747 0.230672 2.20783L2.01936 19.3278C2.12578 20.3464 2.98442 21.12 4.00853 21.12H23.1779C24.4255 21.12 25.3687 19.9901 25.1456 18.7625L22.0356 1.64253Z" transform="translate(86.1973 43.1747)" fill="#D0021B"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0691 1.8267C21.9792 0.793204 21.1141 0 20.0767 0H2.01821C0.906552 0 0.00821515 0.906515 0.0182889 2.01812L0.173436 19.1381C0.183382 20.2356 1.07586 21.12 2.17335 21.12H21.5657C22.7386 21.12 23.6598 20.1152 23.5582 18.9467L22.0691 1.8267Z" transform="translate(58.7969 43.1747)" fill="#D0021B"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.7289 2.01812C23.739 0.906514 22.8406 0 21.729 0H3.67251C2.63518 0 1.77003 0.793088 1.68005 1.8265L0.189265 18.9465C0.0875037 20.1151 1.00869 21.12 2.18173 21.12H21.5739C22.6714 21.12 23.5638 20.2356 23.5738 19.1381L23.7289 2.01812Z" transform="translate(30.4824 43.1747)" fill="#D0021B"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.50789 0C4.54127 0 3.71298 0.691314 3.54013 1.64235L0.42851 18.7624C0.205382 19.99 1.14852 21.12 2.39627 21.12H21.5634C22.5875 21.12 23.4461 20.3465 23.5526 19.328L25.5739 0H5.50789Z" transform="translate(0.341797 43.1747)" fill="#D0021B"/>
  </svg>
</span>

<span class="icon" *ngIf="name === 'sun-panel-yellow'" [ngStyle]="style" >
  <svg viewBox="0 0 112 96" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M28.3001 0.317899C28.2964 0.310598 28.2928 0.303075 28.2893 0.295327L28.2947 0.306653L28.7455 0.0903407C28.2947 0.306653 28.2947 0.306693 28.2948 0.306788L28.295 0.30725L28.2959 0.309149L28.2996 0.316816L28.3001 0.317899ZM27.79 0.550728C28.0543 0.55571 28.2659 0.561012 28.4189 0.566571C28.4643 0.661979 28.5215 0.782216 28.5892 0.924871C28.7768 1.32051 29.0449 1.88855 29.3667 2.57767C30.0104 3.95614 30.8684 5.81805 31.726 7.75326C32.5842 9.68966 33.4397 11.6941 34.0798 13.3593C34.4 14.1924 34.6639 14.9341 34.8469 15.5366C35.0357 16.1578 35.1208 16.5761 35.1208 16.7897C35.1208 19.3315 33.9104 21.6495 31.1607 23.356C28.3876 25.077 24.0382 26.1779 17.801 26.1779C11.5811 26.1779 7.23599 24.9049 4.46275 23.0962C1.69632 21.2919 0.5 18.9648 0.5 16.7897C0.5 16.5339 0.587842 16.0829 0.775108 15.4462C0.95795 14.8245 1.22149 14.0708 1.54146 13.2315C2.18108 11.5536 3.03608 9.55956 3.89401 7.64241C4.75138 5.72653 5.60907 3.89321 6.25263 2.53847C6.57434 1.86122 6.8424 1.30388 7.02997 0.915974C7.09715 0.777031 7.15401 0.659834 7.1993 0.566666C7.35248 0.561072 7.56492 0.555739 7.83077 0.550728C8.42696 0.539491 9.27918 0.530096 10.3034 0.522572C12.3513 0.507527 15.0805 0.5 17.8104 0.5C20.5402 0.5 23.2695 0.507527 25.3173 0.522572C26.3416 0.530096 27.1938 0.539491 27.79 0.550728ZM7.31878 0.321525L7.31937 0.3203L7.32304 0.312814L7.32395 0.310965L7.32416 0.310518C7.32421 0.310428 7.32423 0.310391 6.87525 0.0903407L7.32423 0.310391L7.3298 0.299014C7.32626 0.306744 7.32258 0.314247 7.31878 0.321525Z" transform="translate(38.7031 68.7411)" fill="#C5CDE1" stroke="#C5CDE1"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5786 1.65593C18.4114 0.698595 17.5802 0 16.6084 0H2.21073C1.02721 0 0.102556 1.02208 0.220717 2.19968L1.38087 13.7618C1.48343 14.7839 2.34363 15.5621 3.37087 15.5621H18.6276C19.8697 15.5621 20.8115 14.4417 20.5978 13.218L18.5786 1.65593Z" transform="translate(81.6309 0.934692)" fill="#F3F3F3"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9267 1.83062C18.8387 0.795446 17.9728 0 16.9339 0H2.0182C0.906547 0 0.00821105 0.90651 0.0182798 2.01812L0.123008 13.5802C0.132948 14.6777 1.02542 15.5621 2.12293 15.5621H17.9166C19.088 15.5621 20.0086 14.5599 19.9094 13.3927L18.9267 1.83062Z" transform="translate(58.7969 0.934692)" fill="#F3F3F3"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0755 2.01812C20.0856 0.906513 19.1872 0 18.0756 0H3.16224C2.12346 0 1.2576 0.795252 1.16946 1.83029L0.184781 13.3924C0.0853694 14.5597 1.00604 15.5621 2.17757 15.5621H17.9708C19.0683 15.5621 19.9608 14.6777 19.9707 13.5802L20.0755 2.01812Z" transform="translate(34.1367 0.934692)" fill="#F3F3F3"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7861 2.19995C20.9044 1.02226 19.9797 0 18.7961 0H4.40053C3.4288 0 2.59769 0.698462 2.4304 1.65568L0.409711 13.2178C0.195846 14.4415 1.13759 15.5621 2.37985 15.5621H17.6344C18.6615 15.5621 19.5217 14.784 19.6244 13.7621L20.7861 2.19995Z" transform="translate(9.47656 0.934692)" fill="#F3F3F3"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9552 1.64875C19.785 0.694743 18.9553 0 17.9862 0H2.21537C1.03019 0 0.104997 1.02483 0.22579 2.20384L1.63813 15.9891C1.74266 17.0094 2.60207 17.7853 3.62772 17.7853H20.4455C21.6906 17.7853 22.6331 16.6598 22.4144 15.434L19.9552 1.64875Z" transform="translate(83.457 20.9431)" fill="#F8CF1C"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5172 1.82483C20.4264 0.792134 19.5616 0 18.5249 0H2.01838C0.906661 0 0.0082959 0.906624 0.0184681 2.0183L0.144608 15.8036C0.154649 16.9009 1.04709 17.7853 2.14452 17.7853H19.7369C20.9106 17.7853 21.832 16.7793 21.7292 15.6101L20.5172 1.82483Z" transform="translate(58.7969 20.9431)" fill="#F8CF1C"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9017 2.01857C21.9121 0.906787 21.0137 0 19.9018 0H3.39363C2.35686 0 1.49198 0.792274 1.4013 1.82507L0.190957 15.6103C0.0883101 16.7794 1.00969 17.7853 2.18329 17.7853H19.7739C20.8712 17.7853 21.7636 16.9011 21.7738 15.8038L21.9017 2.01857Z" transform="translate(32.3105 20.9431)" fill="#F8CF1C"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.6077 2.20409C22.7287 1.025 21.8035 0 20.6182 0H4.84967C3.88069 0 3.0511 0.694611 2.8808 1.64851L0.419798 15.4338C0.200957 16.6596 1.14345 17.7853 2.38867 17.7853H19.2041C20.2296 17.7853 21.089 17.0095 21.1936 15.9894L22.6077 2.20409Z" transform="translate(5.82227 20.9431)" fill="#F8CF1C"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0356 1.64253C21.8628 0.691409 21.0345 0 20.0678 0H2.21984C1.03306 0 0.107349 1.02747 0.230672 2.20783L2.01936 19.3278C2.12578 20.3464 2.98442 21.12 4.00853 21.12H23.1779C24.4255 21.12 25.3687 19.9901 25.1456 18.7625L22.0356 1.64253Z" transform="translate(86.1973 43.1747)" fill="#F8CF1C"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0691 1.8267C21.9792 0.793204 21.1141 0 20.0767 0H2.01821C0.906552 0 0.00821515 0.906515 0.0182889 2.01812L0.173436 19.1381C0.183382 20.2356 1.07586 21.12 2.17335 21.12H21.5657C22.7386 21.12 23.6598 20.1152 23.5582 18.9467L22.0691 1.8267Z" transform="translate(58.7969 43.1747)" fill="#F8CF1C"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.7289 2.01812C23.739 0.906514 22.8406 0 21.729 0H3.67251C2.63518 0 1.77003 0.793088 1.68005 1.8265L0.189265 18.9465C0.0875037 20.1151 1.00869 21.12 2.18173 21.12H21.5739C22.6714 21.12 23.5638 20.2356 23.5738 19.1381L23.7289 2.01812Z" transform="translate(30.4824 43.1747)" fill="#F8CF1C"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.50789 0C4.54127 0 3.71298 0.691314 3.54013 1.64235L0.42851 18.7624C0.205382 19.99 1.14852 21.12 2.39627 21.12H21.5634C22.5875 21.12 23.4461 20.3465 23.5526 19.328L25.5739 0H5.50789Z" transform="translate(0.341797 43.1747)" fill="#F8CF1C"/>
  </svg>
</span>

<span class="icon" *ngIf="name === 'sun-panel-green'" [ngStyle]="style" >
  <svg viewBox="0 0 112 96" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M28.3001 0.317899C28.2964 0.310598 28.2928 0.303075 28.2893 0.295327L28.2947 0.306653L28.7455 0.0903407C28.2947 0.306653 28.2947 0.306693 28.2948 0.306788L28.295 0.30725L28.2959 0.309149L28.2996 0.316816L28.3001 0.317899ZM27.79 0.550728C28.0543 0.55571 28.2659 0.561012 28.4189 0.566571C28.4643 0.661979 28.5215 0.782216 28.5892 0.924871C28.7768 1.32051 29.0449 1.88855 29.3667 2.57767C30.0104 3.95614 30.8684 5.81805 31.726 7.75326C32.5842 9.68966 33.4397 11.6941 34.0798 13.3593C34.4 14.1924 34.6639 14.9341 34.8469 15.5366C35.0357 16.1578 35.1208 16.5761 35.1208 16.7897C35.1208 19.3315 33.9104 21.6495 31.1607 23.356C28.3876 25.077 24.0382 26.1779 17.801 26.1779C11.5811 26.1779 7.23599 24.9049 4.46275 23.0962C1.69632 21.2919 0.5 18.9648 0.5 16.7897C0.5 16.5339 0.587842 16.0829 0.775108 15.4462C0.95795 14.8245 1.22149 14.0708 1.54146 13.2315C2.18108 11.5536 3.03608 9.55956 3.89401 7.64241C4.75138 5.72653 5.60907 3.89321 6.25263 2.53847C6.57434 1.86122 6.8424 1.30388 7.02997 0.915974C7.09715 0.777031 7.15401 0.659834 7.1993 0.566666C7.35248 0.561072 7.56492 0.555739 7.83077 0.550728C8.42696 0.539491 9.27918 0.530096 10.3034 0.522572C12.3513 0.507527 15.0805 0.5 17.8104 0.5C20.5402 0.5 23.2695 0.507527 25.3173 0.522572C26.3416 0.530096 27.1938 0.539491 27.79 0.550728ZM7.31878 0.321525L7.31937 0.3203L7.32304 0.312814L7.32395 0.310965L7.32416 0.310518C7.32421 0.310428 7.32423 0.310391 6.87525 0.0903407L7.32423 0.310391L7.3298 0.299014C7.32626 0.306744 7.32258 0.314247 7.31878 0.321525Z" transform="translate(38.7031 68.7411)" fill="#C5CDE1" stroke="#C5CDE1"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5786 1.65593C18.4114 0.698595 17.5802 0 16.6084 0H2.21073C1.02721 0 0.102556 1.02208 0.220717 2.19968L1.38087 13.7618C1.48343 14.7839 2.34363 15.5621 3.37087 15.5621H18.6276C19.8697 15.5621 20.8115 14.4417 20.5978 13.218L18.5786 1.65593Z" transform="translate(81.6309 0.934692)" fill="#58B93F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9267 1.83062C18.8387 0.795446 17.9728 0 16.9339 0H2.0182C0.906547 0 0.00821105 0.90651 0.0182798 2.01812L0.123008 13.5802C0.132948 14.6777 1.02542 15.5621 2.12293 15.5621H17.9166C19.088 15.5621 20.0086 14.5599 19.9094 13.3927L18.9267 1.83062Z" transform="translate(58.7969 0.934692)" fill="#58B93F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0755 2.01812C20.0856 0.906513 19.1872 0 18.0756 0H3.16224C2.12346 0 1.2576 0.795252 1.16946 1.83029L0.184781 13.3924C0.0853694 14.5597 1.00604 15.5621 2.17757 15.5621H17.9708C19.0683 15.5621 19.9608 14.6777 19.9707 13.5802L20.0755 2.01812Z" transform="translate(34.1367 0.934692)" fill="#58B93F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7861 2.19995C20.9044 1.02226 19.9797 0 18.7961 0H4.40053C3.4288 0 2.59769 0.698462 2.4304 1.65568L0.409711 13.2178C0.195846 14.4415 1.13759 15.5621 2.37985 15.5621H17.6344C18.6615 15.5621 19.5217 14.784 19.6244 13.7621L20.7861 2.19995Z" transform="translate(9.47656 0.934692)" fill="#58B93F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9552 1.64875C19.785 0.694743 18.9553 0 17.9862 0H2.21537C1.03019 0 0.104997 1.02483 0.22579 2.20384L1.63813 15.9891C1.74266 17.0094 2.60207 17.7853 3.62772 17.7853H20.4455C21.6906 17.7853 22.6331 16.6598 22.4144 15.434L19.9552 1.64875Z" transform="translate(83.457 20.9431)" fill="#58B93F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5172 1.82483C20.4264 0.792134 19.5616 0 18.5249 0H2.01838C0.906661 0 0.0082959 0.906624 0.0184681 2.0183L0.144608 15.8036C0.154649 16.9009 1.04709 17.7853 2.14452 17.7853H19.7369C20.9106 17.7853 21.832 16.7793 21.7292 15.6101L20.5172 1.82483Z" transform="translate(58.7969 20.9431)" fill="#58B93F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9017 2.01857C21.9121 0.906787 21.0137 0 19.9018 0H3.39363C2.35686 0 1.49198 0.792274 1.4013 1.82507L0.190957 15.6103C0.0883101 16.7794 1.00969 17.7853 2.18329 17.7853H19.7739C20.8712 17.7853 21.7636 16.9011 21.7738 15.8038L21.9017 2.01857Z" transform="translate(32.3105 20.9431)" fill="#58B93F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.6077 2.20409C22.7287 1.025 21.8035 0 20.6182 0H4.84967C3.88069 0 3.0511 0.694611 2.8808 1.64851L0.419798 15.4338C0.200957 16.6596 1.14345 17.7853 2.38867 17.7853H19.2041C20.2296 17.7853 21.089 17.0095 21.1936 15.9894L22.6077 2.20409Z" transform="translate(5.82227 20.9431)" fill="#58B93F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0356 1.64253C21.8628 0.691409 21.0345 0 20.0678 0H2.21984C1.03306 0 0.107349 1.02747 0.230672 2.20783L2.01936 19.3278C2.12578 20.3464 2.98442 21.12 4.00853 21.12H23.1779C24.4255 21.12 25.3687 19.9901 25.1456 18.7625L22.0356 1.64253Z" transform="translate(86.1973 43.1747)" fill="#58B93F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0691 1.8267C21.9792 0.793204 21.1141 0 20.0767 0H2.01821C0.906552 0 0.00821515 0.906515 0.0182889 2.01812L0.173436 19.1381C0.183382 20.2356 1.07586 21.12 2.17335 21.12H21.5657C22.7386 21.12 23.6598 20.1152 23.5582 18.9467L22.0691 1.8267Z" transform="translate(58.7969 43.1747)" fill="#58B93F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.7289 2.01812C23.739 0.906514 22.8406 0 21.729 0H3.67251C2.63518 0 1.77003 0.793088 1.68005 1.8265L0.189265 18.9465C0.0875037 20.1151 1.00869 21.12 2.18173 21.12H21.5739C22.6714 21.12 23.5638 20.2356 23.5738 19.1381L23.7289 2.01812Z" transform="translate(30.4824 43.1747)" fill="#58B93F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.50789 0C4.54127 0 3.71298 0.691314 3.54013 1.64235L0.42851 18.7624C0.205382 19.99 1.14852 21.12 2.39627 21.12H21.5634C22.5875 21.12 23.4461 20.3465 23.5526 19.328L25.5739 0H5.50789Z" transform="translate(0.341797 43.1747)" fill="#58B93F"/>
  </svg>
</span>


<span class="icon icon-battery" *ngIf="name === 'battery'" [ngStyle]="style" >
  <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="24" height="96" viewBox="0 0 24 96" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 0.895431 0.895431 0 2 0H18.1081C19.2127 0 20.1081 0.895431 20.1081 2V9.10204C20.1081 10.2066 19.2127 11.102 18.1081 11.102H2C0.89543 11.102 0 10.2066 0 9.10204V2Z" transform="translate(1.94531 81.6327)" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 0.895431 0.895431 0 2 0H18.1081C19.2127 0 20.1081 0.895431 20.1081 2V9.10204C20.1081 10.2066 19.2127 11.102 18.1081 11.102H2C0.89543 11.102 0 10.2066 0 9.10204V2Z" transform="translate(1.94531 68.5714)" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 0.895431 0.895431 0 2 0H18.1081C19.2127 0 20.1081 0.895431 20.1081 2V9.10204C20.1081 10.2066 19.2127 11.102 18.1081 11.102H2C0.89543 11.102 0 10.2066 0 9.10204V2Z" transform="translate(1.94531 55.5103)" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 0.895431 0.895431 0 2 0H18.1081C19.2127 0 20.1081 0.895431 20.1081 2V9.10204C20.1081 10.2066 19.2127 11.102 18.1081 11.102H2C0.89543 11.102 0 10.2066 0 9.10204V2Z" transform="translate(1.94531 42.449)" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 0.895431 0.895431 0 2 0H18.1081C19.2127 0 20.1081 0.895431 20.1081 2V9.10204C20.1081 10.2066 19.2127 11.102 18.1081 11.102H2C0.89543 11.102 0 10.2066 0 9.10204V2Z" transform="translate(1.94531 29.3877)" />
    <path d="M 0,2 C 0,0.895431 0.895431,0 2,0 h 16.1081 c 1.1046,0 2,0.895431 2,2 v 7.10204 c 0,1.10456 -0.8954,1.99996 -2,1.99996 -5.707765,0 -10.9343555,0 -16.1081,0 -1.10457,0 -2,-0.8954 -2,-1.99996 z" transform="translate(1.94531,16.3265)" style="clip-rule:evenodd;fill-rule:evenodd" />
    <path d="M0.5 2C0.5 1.17157 1.17157 0.5 2 0.5H22C22.8284 0.5 23.5 1.17157 23.5 2V80.9388C23.5 81.7672 22.8284 82.4388 22 82.4388H2C1.17157 82.4388 0.5 81.7672 0.5 80.9388V2Z" transform="translate(0 13.0613)" stroke="#C5CDE1" />
    <path d="M0.5 2C0.5 1.17157 1.17157 0.5 2 0.5H12.9189C13.7473 0.5 14.4189 1.17157 14.4189 2V9.10204C14.4189 9.93047 13.7473 10.602 12.9189 10.602H2C1.17157 10.602 0.5 9.93047 0.5 9.10204V2Z" transform="translate(4.54102)" fill="#C5CDE1" stroke="#C5CDE1" />
    <path style="fill:#ffffff;stroke-width:0.10169491;fill-opacity:1" d="M 1.5468483,94.844564 C 1.394441,94.761855 1.2228308,94.606526 1.1654924,94.499389 1.0148431,94.217898 1.0204323,14.828677 1.1711212,14.547113 c 0.2681579,-0.501058 0.094446,-0.49318 10.8749538,-0.49318 10.832889,0 10.497371,-0.01566 10.774863,0.502842 0.146384,0.273521 0.146384,79.669948 0,79.943469 -0.277728,0.518941 0.06574,0.503149 -10.847867,0.49877 C 3.214615,94.9955 1.785983,94.974337 1.5468483,94.844564 Z M 21.162215,92.433892 c 0.223034,-0.154583 0.516556,-0.474922 0.652271,-0.711865 l 0.246755,-0.430806 0.02994,-3.887609 c 0.01981,-2.571589 -0.0075,-4.026516 -0.08055,-4.297946 -0.140514,-0.521832 -0.644897,-1.09862 -1.168857,-1.33665 -0.38359,-0.174262 -0.899871,-0.18529 -8.746635,-0.186859 -5.8010095,-0.0012 -8.4626845,0.03268 -8.7454271,0.111169 -0.530603,0.147303 -1.2136392,0.830339 -1.3609425,1.360943 -0.1494798,0.538443 -0.1548342,7.678934 -0.00616,8.214308 0.1386474,0.499267 0.6492084,1.074064 1.1625046,1.308766 0.3864188,0.176687 0.8556957,0.185125 9.009618,0.162002 l 8.601965,-0.02439 z M 20.556301,79.631387 c 0.619138,-0.155901 1.29161,-0.797355 1.447611,-1.380839 0.07874,-0.294518 0.105977,-1.659748 0.08621,-4.322034 -0.02761,-3.719116 -0.0383,-3.909553 -0.241332,-4.29831 -0.116845,-0.223729 -0.406787,-0.544068 -0.644315,-0.711864 l -0.431867,-0.305085 -8.667052,-0.02709 -8.6670525,-0.02709 -0.4513453,0.238374 c -0.2974199,0.157079 -0.5553903,0.406295 -0.7564299,0.730758 l -0.3050848,0.492386 -0.03299,3.770905 c -0.038585,4.410377 -0.00995,4.648574 0.6365904,5.295112 0.258339,0.25834 0.5900479,0.472845 0.8288156,0.535969 0.5893425,0.155806 16.5819265,0.163993 17.1982375,0.0088 z M 21.18659,66.29315 c 0.299437,-0.198177 0.507965,-0.448407 0.677979,-0.81356 l 0.245532,-0.527352 4.07e-4,-3.813559 c 3.05e-4,-2.482675 -0.03895,-3.955404 -0.112409,-4.220004 -0.147303,-0.530603 -0.830339,-1.213639 -1.360942,-1.360942 -0.555075,-0.154097 -16.7157794,-0.15872 -17.2695741,-0.0049 -0.2137046,0.05934 -0.5687313,0.270675 -0.7889483,0.469628 -0.6875849,0.621191 -0.7176159,0.853927 -0.6830394,5.293442 l 0.030052,3.856139 0.3050848,0.492392 c 0.2010433,0.324476 0.4590045,0.573685 0.7564299,0.730767 l 0.4513453,0.238374 8.6578188,-0.02709 8.657819,-0.02709 z M 20.709491,53.391519 c 0.483424,-0.144837 1.167979,-0.877513 1.252603,-1.340654 0.03205,-0.175432 0.0446,-2.107126 0.02787,-4.292654 l -0.03042,-3.973689 -0.279775,-0.422608 c -0.153876,-0.232434 -0.474215,-0.526477 -0.711864,-0.65343 l -0.43209,-0.230822 H 11.985469 3.4351214 l -0.4949308,0.305992 c -0.3352517,0.20727 -0.5706427,0.453343 -0.729602,0.762712 -0.2332292,0.453914 -0.2346691,0.480948 -0.2343822,4.400664 2.44e-4,3.329263 0.024819,4.002655 0.1576846,4.320646 0.2099669,0.502521 0.5197929,0.824464 1.0120955,1.051677 0.3849234,0.177653 0.8569311,0.187861 8.7848115,0.189974 6.150613,0.0016 8.484553,-0.02968 8.778693,-0.117808 z M 20.535817,40.382362 c 0.576451,-0.15746 1.060749,-0.55783 1.283272,-1.060878 0.176712,-0.399487 0.191133,-0.733886 0.189071,-4.383911 -0.002,-3.624136 -0.01778,-3.98513 -0.189974,-4.358216 -0.227213,-0.492303 -0.549156,-0.802129 -1.051677,-1.012096 -0.329867,-0.137827 -1.423362,-0.157118 -8.795222,-0.155163 -7.967245,0.0021 -8.4403263,0.0123 -8.8253005,0.189975 -0.4923026,0.227213 -0.8021286,0.549155 -1.0120955,1.051677 -0.132868,0.317998 -0.157396,0.990269 -0.157396,4.313962 0,3.793319 0.00782,3.953406 0.2138001,4.378912 0.2427291,0.501412 0.6884825,0.880325 1.2099287,1.028501 0.5157365,0.146553 16.6006982,0.153347 17.1355932,0.0072 z m 0.575984,-13.302309 c 0.196686,-0.134787 0.467891,-0.405946 0.602678,-0.602575 l 0.245067,-0.357507 0.02876,-4.112662 c 0.02829,-4.04581 0.02516,-4.120095 -0.192621,-4.569976 -0.148732,-0.307239 -0.374141,-0.554191 -0.686871,-0.752519 l -0.465489,-0.295204 -8.705314,0.02708 -8.7053126,0.02708 -0.3576117,0.245067 c -0.1966864,0.134787 -0.4678918,0.405931 -0.6026784,0.602542 l -0.2450669,0.357476 -0.031862,3.973729 c -0.02165,2.700058 0.00427,4.096502 0.080858,4.356771 0.1376443,0.467737 0.6530184,1.073872 1.0677569,1.255798 0.2482019,0.108874 1.9634055,0.130378 8.9585357,0.112315 l 8.651559,-0.02234 z" />
  </svg>
</span>

<span class="icon" *ngIf="name === 'speedometer-arrow'" [ngStyle]="style" >
  <svg style="transform: scale(1.6);transform-origin: 100% 0;" viewBox="0 0 23.64829 2.3813885" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m 21.470766,0.52451633 c 0.36475,-0.54066004 1.09862,-0.68763004 1.64398,-0.32667004 0.54832,0.36293004 0.6985,1.10186011 0.33569,1.65000011 -0.36279,0.54811 -1.10167,0.69862 -1.64999,0.33569 -0.20787,-0.13758 -0.35835,-0.32951 -0.44565,-0.5441 L 9.117946,1.318646 9.1147262,0.89274729 Z" style="clip-rule:evenodd;fill:#555555;fill-rule:evenodd;stroke-width:0.26458332" />
  </svg>
</span>
  