

.icon {
  height: 40px;
  width: 40px;
  display: inline-block;
  svg {   
    max-height: 100%;
    max-width: 100%;
  }
  &.color-inherit {
    path, rect, circle {
      fill: currentColor;
    }
    &:hover {
      svg {
        path, rect, circle {
          fill: currentColor;
        }
      }
    }
  }
}