<div class="container-fluid user-component df fc f1">
  <div class="row no-gutters mt-medium f1">
    <div class="col accordion-wrap df fc f1">
      <p-accordion [multiple]="true">
        <p-accordionTab *ngFor="let operation of operations" header="Clear Operation name">
          <p class="text">Here we write any information possible user message</p>
          <div class="stepper">
            <div class="step" [ngClass]="{'step-done':step.status==='Done', 'step-error':step.status==='Error', 'step-active':step.status==='Active'}"
              *ngFor="let step of stepperItems">
              <span *ngIf="step.status=='Error' || step.status=='Done'">
                {{step.status}}
              </span>
              <span *ngIf="!(step.status=='Error' || step.status=='Done')">
                {{step.label}}
              </span>
            </div>
            <span class="check" [ngClass]="{'checked':stepperItems[stepperItems.length-1].status ==='Done'}">
            </span>
          </div>
        </p-accordionTab>
      </p-accordion>


      <div class="footer text-right">
        <div class="button button-primary no-margin" (click)="addAppliance()">Add Appliance </div>
      </div>
    </div>
  </div>
</div>