@import '../../../_vars';

.accordion-wrap {
  overflow: auto;
}
.stepper {
  margin: 15px 0;
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
  .step {
    span {
      display: inline-block;
      max-width: 80%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    flex: 1 1 auto;
    font-family: Lato, sans-serif;
    margin-right: -30px;
    font-size: 13px;
    text-align: center;
    padding: 7px 10px;
    line-height: 1;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #F3F3F3;
    &.step-error {
      color: #fff;
      background-color: #D0021B;
    }
    &.step-done {
      color: #fff;
      background-color: #58B93F;
    }
    &.step-active {
      color: #fff;
      background-color: $brand-color;
    }
    z-index: 10;
    &+.step {
      z-index: 9;
      &+.step {
        z-index: 8;
        &+.step {
          z-index: 7;
          &+.step {
            z-index: 6;
            &+.step {
              z-index: 5;
              &+.step {
                z-index: 4;
                &+.step {
                  z-index: 3;
                  &+.step {
                    z-index: 2;
                    &+.step {
                      z-index: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .check {
    display: inline-block;
    flex: 0 1 30px;
    margin-left: 30px;
    position: relative;
    &.checked {
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 5px;
        top: 10px;
        height: 8px;
        width: 16px;
        border: 2px solid #58B93F;
        border-width: 0 0 2px 2px;
        transform: rotate(-45deg);
      }
    }
  }
}

:host /deep/ {
  .ui-accordion-header {
    border:none;
    background-color: #fff;
    &:not(.ui-state-active):not(.ui-state-disabled):hover{
      background-color: #fff;
    }
    a {
      text-decoration: none;
      position: relative;
      overflow: hidden;
      padding-right: 0;
      font-family: Lato, sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      color: #555555;
      .ui-accordion-toggle-icon  {
        position: absolute;
        right: 0px;
        padding: 0 5px;
        width: 1.6em;
        top: 11px;
        background-color: #fff;
        z-index: 1;
      }
      .ui-accordion-header-text {
        background-color: #fff;
        display: inline-block;
        padding: 0 20px 0 10px;
        position: relative;
        z-index: 1;
      }
      &:after {
        display: block;
        content: '';
        border-top: 2px dashed #ddd;
        width: 100%;
        position: absolute;
        z-index: 0;
        top: 18px;
        left: 15px;
      }
    }
  }
  .text {
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #555555;
  }
}
.button {
  text-transform: capitalize;
  line-height: 3.4;
  width: 200px;
}
.footer {
  margin-top: auto;
  padding:15px;
  border-top: 1px solid #ecedf4;
}