<div class="row no-gutters user-component_panel contract-info f1" style="margin-bottom: 0;min-height: 400px;">
  <div class="col">
      <p-tabView [activeIndex]="tabIndex" (onChange)="onTabChange($event)">
        <p-tabPanel header="Graphs" [ngClass]="{'active':tabIndex === 0}">
          <ng-template pTemplate="content">
            <app-graphs></app-graphs>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Gages" [ngClass]="{'active':tabIndex === 1}">
          <ng-template pTemplate="content">
            <app-gages></app-gages>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="BIT" [ngClass]="{'active':tabIndex === 2}">
          <ng-template pTemplate="content">
            <app-bit></app-bit>
          </ng-template>
        </p-tabPanel>
      </p-tabView>

  </div>