@import '../../../../_vars';
:host /deep/ {
  .ui-menu.ui-widget-content{
    left: unset !important;
    right: 0;
    top: 100% !important;
  }
  .ui-tabview .active .ui-tabview-panel {
    padding: 0;
  }
  .menu-button {
    padding: 5px;
    border:none;
    height: 35px;
    color: #afafaf;
    margin: 0;
    &:hover {
      color: #999;
    }
    app-icons {
      width: 20px;
      height: 20px;
      display: block;
    }
  }
  .ui-tabview {
    padding: 0;
    position: relative;
    border-left: 1px solid $border-color;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .ui-tabview-panels {
      @extend .flex-next;
      .active {
        @extend .flex-next;
        .ui-tabview-panel {
          @extend .flex-next;
          &>* {
            @extend .flex-next;
          }
        }
      }
    }
    .ui-tabview-nav {
      padding: 15px 45px 0 15px !important;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      &>li.ui-state-default, &>li:not(.ui-state-active):not(.ui-state-disabled):hover, .ui-tabview-selected {
        background-color: transparent;
        border:none;
        z-index: 1;
        font-size: 14px;
      }
      .ui-tabview-selected a {
        color: $brand-color;
        border-bottom: 2px solid $brand-color;
      }
    }
  }
}