// @import "../../../_vars";

form {
  max-width: 90%;
  width: 475px;
  margin: 0 auto;
  padding: 15px;
}
.mat-form-field {
  padding: 15px 15px 0 15px;
  margin-bottom: 2px;
}

button {
  transform: none;
}