<div class="container flex-full-viewport-center">
  <div class="row">
    <div class="col-12">
      <!-- Title of an Card -->
      <div class="text-center">
        <img class="logo" [src]="'assets/images/logo.png' | staticPath" />
      </div>

      <form [formGroup]="forgotForm" class="login-form" (ngSubmit)="onFormSubmit(forgotForm.value)">
        <h5 class="text-center">Enter Email, where to send password recovery link</h5>
        <mat-form-field class="full-width white-bg">
            <input matInput placeholder="Email" autocomplete="off" formControlName="email" >
          <mat-hint>use like : demo@demo.com</mat-hint>
          <mat-error>
            <span *ngIf="!forgotForm.get('email').valid && forgotForm.get('email').touched">Please enter Email</span>
          </mat-error>
        </mat-form-field>

        <div class="flex-center mt-medium">
          <button mat-raised-button color="primary" class="mat-primary" [disabled]="!forgotForm.valid">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
