<div class="container-fluid user-component df fc">
  <div class="row no-gutters mb-large user-component_panel">
    <div class="col no-margin">
      <table class="table-dark user-info">
        <thead>
          <tr>
            <th>
              <div class="img-wrap flex-center circle-img">
                <img [src]="user.image" alt="{{user.name}}" />
              </div>
            </th>
            <th>
                <span class="username">{{user.name}}</span>
            </th>
          </tr>
        </thead>
        <tr>
          <td>Phone</td>
          <td>
            <p>{{user.phone}}</p>
          </td>
        </tr>
        <tr>
          <td>Email</td>
          <td>
            <p>{{user.email}}</p>
          </td>
        </tr>
        <tr>
          <td>Type</td>
          <td>
            <p>{{user.type}}</p>
          </td>
        </tr>
        <tr>
          <td>Country</td>
          <td>
            <p>{{user.country}}</p>
          </td>
        </tr>
        <tr>
          <td>Street</td>
          <td>
            <p>{{user.street}}</p>
          </td>
        </tr>
      </table>

    </div>
    <div class="col contracts df">
      <p-tabView (onChange)="onTabChange($event)" [activeIndex]="tabIndex">
          <p-tabPanel *ngFor="let contract of contractsToshow; let i = index " [selected]="i == 0" header="Contract ID: {{contract.id}}">
            <ng-template pTemplate="content">
              <div class="container-fluid main-contract">
                <div class="row no-gutters">
                  <div class="col-6 no-margin">
                    <p class="title"><span class="label">MSDISM: </span>{{contract.msdism}}</p>
                    <p><span class="label">Status: </span>{{contract.status}}</p>
                    <p><span class="label">Type: </span>{{contract.type}}</p>
                    <p><span class="label">Offer: </span>{{contract.offer}}</p>
                    <p><span class="label">Seniority: </span>{{contract.seniority}}</p>
                  </div>
                  <div class="col-6 no-margin">
                      <p><span class="label">City: </span>{{contract.city}}</p>
                      <p><span class="label">Street: </span>{{contract.street}}</p>
                      <p><span class="label">Payment Role: </span>{{contract.role}}</p>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-tabPanel>
          <div class="more">
              <button type="button" class="menu-button" [ngClass]="{'show': isOpen}" (click)="isOpen = !isOpen" appClickOutside>
                <app-icons [name]="'more'" [style]="{'width': '100%','height': '100%', 'display':'flex'}"></app-icons>
              </button>
              <div class="popup-menu">
                <p class="popup-menu_item" [ngClass]="{'active':contract.active}" *ngFor=" let contract of contracts" (click)="activateContract(contract)">Contract: {{contract.id}}</p>
              </div>
          </div>
      </p-tabView>
      
    </div>
  </div>
  <div class="row no-gutters user-component_panel contract-info f1" style="margin-bottom: 0;min-height: 400px;">
    <div class="col">
        <p-tabView [activeIndex]="additionalTabIndex" (onChange)="onAdditionalTabChange($event)">
          <p-tabPanel header="Activity log" [ngClass]="{'active':additionalTabIndex === 0}">
            <ng-template pTemplate="content">
              <app-activity-log [contract]="activeContract"></app-activity-log>
            </ng-template>
          </p-tabPanel>
          <p-tabPanel header="Payers/Users" [ngClass]="{'active':additionalTabIndex === 1}">
            <ng-template pTemplate="content">
              <app-payers-users [contract]="activeContract"></app-payers-users>
            </ng-template>
          </p-tabPanel>
          <p-tabPanel header="Payments/Activations" [ngClass]="{'active':additionalTabIndex === 2}">
            <ng-template pTemplate="content">
              <app-payments-activations [contract]="activeContract"></app-payments-activations>
            </ng-template>
          </p-tabPanel>
          <p-tabPanel header="Cases" [ngClass]="{'active':additionalTabIndex === 3}">
            <ng-template pTemplate="content">
              <app-cases [contract]="activeContract"></app-cases>
            </ng-template>
          </p-tabPanel>
          <p-tabPanel header="Assets" [ngClass]="{'active':additionalTabIndex === 4}">
            <ng-template pTemplate="content">
              <app-assets [contract]="activeContract"></app-assets>
            </ng-template>
          </p-tabPanel>
        </p-tabView>

    </div>
  </div>
</div>
