@import '../../../_vars';
.user-component {
  height: 100%;
}
.user-component .user-component_panel {
  box-shadow: -11px 9px 21px 0 rgba(173, 182, 217, 0.17);
  margin-bottom: 20px;
  flex: 1 1 auto;
}
.img-wrap {
  margin-left: 15px;
  width: 32px;
  height: 32px;
  min-width: 32px;
  img {
    width: 100%;
  }
}
.username {
  opacity: 0.75;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.1px;
  color: #637280;
}
td {
  padding: 5px 15px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  color: #a4a4a4;
  border-bottom: none;
}
td p {
  color: #555555;
  width: 189px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.border-right {
  border-right: 1px solid $border-color;
}

.user-info {
  width: 100%;
  margin-bottom: 0;
}
.more {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right;
  z-index: 0;
}
.main-contract {
  p {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #555555;
  }
  .label {
    color: #a4a4a4;
    display: inline-block;
    width: 100px;
  }
}

:host .user-component_panel {
  /deep/ {
    .ui-tabview-panel {
      padding: 0;
    }
  }  
}
p-tabview {
  flex: 1 1 auto;
}
:host .contracts {
  /deep/ {
    .ui-tabview-panel {
      padding: 0;
      p {
        margin: 0;
        padding: 6px 15px;
      }
    }
    .ui-tabview .ui-tabview-nav {
      &>li.ui-state-default, &>li:not(.ui-state-active):not(.ui-state-disabled):hover, .ui-tabview-selected {
        .ui-tabview-title {
          max-width: 130px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
        }
      }
      .ui-tabview-selected a {
        .ui-tabview-title {
          max-width: unset;
        }
      }
    }
  }
}

:host /deep/ {
  .ui-menu.ui-widget-content{
    left: unset !important;
    right: 0;
    top: 100% !important;
  }
  .menu-button {
    padding: 5px;
    border:none;
    height: 35px;
    color: #afafaf;
    margin: 0;
    &:hover {
      color: #999;
    }
    app-icons {
      width: 20px;
      height: 20px;
      display: block;
    }
  }
  .ui-tabview {
    padding: 0;
    position: relative;
    border-left: 1px solid $border-color;
    min-height: 100%;
    .ui-tabview-nav {
      padding: 15px 45px 0 15px !important;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      &>li.ui-state-default, &>li:not(.ui-state-active):not(.ui-state-disabled):hover, .ui-tabview-selected {
        background-color: transparent;
        border:none;
        z-index: 1;
        font-size: 14px;
      }
      .ui-tabview-selected a {
        color: $brand-color;
        border-bottom: 2px solid $brand-color;
      }
    }
  }
}

:host .contract-info {
  max-height: 450px;
  /deep/ {
    .ui-tabview-panels {
      position: relative;
    }
    p-tabpanel {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      &.active {
        z-index: 1;
      }
    }
    .ui-tabview, p-tabpanel, .ui-tabview-panel, .ui-tabview-panel>* {
      display: flex;
      flex-direction: column;
    }
    .ui-tabview-panels, p-tabpanel, .ui-tabview-panel, .ui-tabview-panel>*  {
      flex: 1 1 auto;
    }
    .ui-tabview-panel > * {
      overflow: auto;
      background-color: #fff;
    }
  }
}