<div class="container-fluid user-component df fc f1">
    <div class="row no-gutters user-component_panel f1">
      <div class="col cases no-margin df fc">
        <table class="table-light">
          <thead>
            <tr>
              <th>
                Name Product
              </th>
              <th>
                Group Product
              </th>
              <th>
                Product Description
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of assets" >
              <td>
                <p class="truncate">{{asset.name}}</p>
              </td>
              <td>
                <p class="truncate">{{asset.group}}</p>
              </td>
              <td>
                <p class="truncate">{{asset.description}}</p>
              </td>
            </tr>
        </tbody>
        </table>
        <div class="footer text-right">
          <div class="button button-primary no-margin" (click)="openNewCase()">Open New Case </div>
        </div>
      </div>
    </div>
  </div>
  