@import '../../../_vars';

table {
  position: relative;
  width: 100%;
  th, td {
    background-color: #F7F8FB;
    padding: 5px 15px;
    border-bottom: none;
    font-family: Lato, sans-serif;
    font-size: 14px;
  }
  th {
    padding:15px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: normal;
    color: $brand-color;
  }
  td p {
    color: #555555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .label {
    display: inline-block;
    width: 100px;
    color: #a4a4a4;
  }
  &.table-light {
    th {
      background-color: #F6F7FA;
      font-family: Lato, sans-serif;
      font-size: 13px;
      font-weight: normal;
      color: #b0b8cc;
    }
    td {
      background-color: rgb(255, 255, 255);
    }
    tr:nth-child(2n) td {
      background-color:#FBFCFD;
    }
    tr:hover td {
      background-color: rgb(240, 240, 240);
    }

  }
}
.button {
  text-transform: capitalize;
  line-height: 3.4;
  width: 200px;
}
.footer {
  margin-top: auto;
  padding: 15px;
  border-top: 1px solid #ecedf4;
}