<div class="case-list-wrap df">
  <div class="case-list df fc white-bg">
    <p-tabView (onChange)="onTabChange($event)" [activeIndex]="tabIndex">
      <p-tabPanel *ngFor="let case of casesToshow; let i = index " [selected]="i == 0" header="Case: {{case.id}}">
        <ng-template pTemplate="content">
          <div class="container-fluid main-case p-round-medium">
            <div class="row no-gutters">
              <div class="col no-margin table-wrap">
                <table>
                  <tr>
                    <td><p class="truncate"><span class="label">Name: </span> <span title="{{case.name}}">{{case.name}}</span></p></td>
                    <td><p class="truncate"><span class="label">Type: </span>{{case.type}}</p></td>
                  </tr>
                  <tr>
                    <td><p class="truncate"><span class="label">Status: </span> {{case.status}}</p></td>
                    <td><p class="truncate"><span class="label">Subtype: </span>{{case.sybtype}}</p></td>
                  </tr>
                  <tr *ngFor="let complaint of case.complaints">
                    <td colspan="2">
                        <p><span class="label">Customer Complaint: </span>{{complaint}}</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </ng-template>
      </p-tabPanel>
      <div class="more">
          <button type="button" class="menu-button" [ngClass]="{'show': isOpen}" (click)="isOpen = !isOpen" appClickOutside>
            <app-icons [name]="'more'" [style]="{'width': '100%','height': '100%', 'display':'flex'}"></app-icons>
          </button>
          <div class="popup-menu">
            <p class="popup-menu_item"><a routerLink="/case/new">Add New Case</a></p>
            <p class="popup-menu_item" [ngClass]="{'active':case.active}" *ngFor=" let case of cases" (click)="activateCase(case)">Case: {{case.id}}</p>
            <p class="popup-menu_item" (click)="showArchive()">Archive</p>
          </div>
      </div>
    </p-tabView>
    <div class="footer p-round-medium text-right">
      <p class="case-created-info">Created on Jun 13, 2018 by ADMIIN</p>
      <button class="button no-margin" (click)="closeCase()" [disabled]="newActivity">Close Case</button>
      <button class="button button-primary no-margin" (click)="addActivity()" [disabled]="newActivity">New Activity </button>
    </div>
  </div>
  <app-case-activities-list class="f1" *ngIf="!newActivity"></app-case-activities-list>
  <app-case-activity-new  class="f1" *ngIf="newActivity"></app-case-activity-new>
</div>