@import '../../../../_vars';
.case-list-wrap {
  box-shadow: -11px 9px 21px 0 rgba(173, 182, 217, 0.17);
  height: 100%;
}
.case-list {
  min-width: 570px;
  flex: 0 1 570px;
}
.table-wrap {
  max-height: 265px;
}
table {
  width: 100%;
  table-layout: fixed;
}
td {
  background-color: #fff;
}
tr:nth-child(2n) td {
  background-color: #F9FAFC;
}
td {
  padding: 3px 5px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #a4a4a4;
  border-bottom: none;
}
.border-right {
  border-right: 1px solid $border-color;
}

.more {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right;
  z-index: 0;
  .popup-menu_item a {
    text-decoration: none;
    color: inherit;
  }
}
.main-case {
  p {
    width: 100%;
    margin-bottom: 0;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #555555;
  }
  .label {
    color: #a4a4a4;
    display: inline-block;
    white-space: nowrap;
    min-width: 60px;
    margin-right: 5px;
  }
}

p-tabview {
  flex: 1 1 auto;
}
:host /deep/ {
  .ui-tabview-panel {
    padding: 0;
    p {
      margin: 0;
      padding: 6px 15px;
    }
  }
  .ui-tabview-nav {
    display: flex;
  }
  .ui-tabview .ui-tabview-nav {
    &>li.ui-state-default, &>li:not(.ui-state-active):not(.ui-state-disabled):hover, .ui-tabview-selected {
      .ui-tabview-title {
        max-width: 95px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
      }
    }
    .ui-tabview-selected a {
      .ui-tabview-title {
        max-width: unset;
      }
    }
  }
  .ui-menu.ui-widget-content{
    left: unset !important;
    right: 0;
    top: 100% !important;
  }
  .menu-button {
    padding: 5px;
    border:none;
    height: 35px;
    color: #afafaf;
    margin: 0;
    &:hover {
      color: #999;
    }
    app-icons {
      width: 20px;
      height: 20px;
      display: block;
    }
  }
  .ui-tabview {
    padding: 0;
    position: relative;
    min-height: 100%;
    .ui-tabview-nav {
      padding: 15px 45px 0 15px !important;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      &>li.ui-state-default, &>li:not(.ui-state-active):not(.ui-state-disabled):hover, .ui-tabview-selected {
        background-color: transparent;
        border:none;
        z-index: 1;
        font-size: 14px;
      }
      .ui-tabview-selected a {
        color: $brand-color;
        border-bottom: 2px solid $brand-color;
      }
    }
  }
}
.footer {
  .case-created-info {
    font-family: Lato, sans-serif;
    font-size: 10px;
    color: #9b9b9b;
    padding-bottom: 8px;
    border-bottom: 1px solid #ecedf4;
  }
  .button {
    line-height: 44px;
    margin-left: 10px;
    width: 160px;
    font-size: 14px;
  }
}