
$brand-color: #5D38DB;
$border-color: #ECEDF4;
.df {
  display: flex;
}
.dif {
  display: inline-flex;
}
.f1 {
  flex: 1 1 auto;
}

.aic {
  align-items: center;
}

.aib {
  align-items: flex-end;
}

.ait {
  align-items: flex-start;
}

.ais {
  align-items: stretch;
}

.jcc {
  justify-content: center;
}

.jca {
  justify-content: space-around;
}

.jcb {
  justify-content: space-between;
}

.jcl {
  justify-content: flex-start;
}

.jcr {
  justify-content: flex-end;
}

.fc {
  flex-direction: column;
}

.asc {
  align-self: center;
}

.flex-center {
  @extend .df;
  @extend .aic;
  @extend .jcc;
}

.inline-flex-center {
  @extend .dif;
  @extend .aic;
  @extend .jcc;
}

.flex-between {
  @extend .df;
  @extend .aic;
  @extend .jcb;
}

.flex-around {
  @extend .df;
  @extend .aic;
  @extend .jca;
}

.flex-start {
  @extend .df;
  @extend .aic;
  @extend .jcl;
}

.inline-flex-start {
  @extend .dif;
  @extend .aic;
  @extend .jcl;
}

.flex-end {
  @extend .df;
  @extend .aic;
  @extend .jcr;
}

.flex-full-viewport {
  min-height: 100vh;
  @extend .df;
  @extend .fc;
}

.flex-full-viewport-center {
  min-height: 100vh;
  @extend .flex-center;
}
.flex-next {
  flex: 1 1 auto;
  @extend .df;
  @extend .fc;
}