// @import "~ngx-toastr/toastr.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "_vars";
/* COLORS, Vars and classes */

.white-bg {
  background-color: #fff;
}

.white {
  color: #fff;
}

.brand-color {
  color: $brand-color;
}

.brand-bg {
  background-color: $brand-color;
}

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*=====general purpose utility classes==*/

.flex,
.row,
.flex-center-x,
.flex-center-xy,
.flex-center-y,
.flex-center-xy,
.flex-center-xy {
  display: flex;
}

/* Align item in center wrt major axis*/

.flex-center-x,
.flex-center-xy {
  justify-content: center;
}

/* Align item in center wrt minor axis*/

.flex-center-y,
.flex-center-xy {
  align-items: center;
}

/* Align item in center wrt major and minor axis*/

.flex-center-xy {
  height: 100%;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

/*----------Grid------------*/

.container-fluid {
  width: 100%;
}

.container,
.container-fluid {
  margin: 0 auto;
  padding: 0 .5rem;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.row>* {
  // width: 100%;
  flex: 1 1 auto;
  padding-left: .5rem;
  padding-right: .5rem;
}
.row.no-gutters {
  padding-left: 0;
  padding-right: 0;
}
.row.no-gutters > * {
  padding-left: 0;
  padding-right: 0;
}
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

*[class*='col-'] {
  margin-bottom: 2rem;
}
.col-auto {
  flex: 0 1 auto;
}
/* col-sm-* classes */

@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* col-md-* classes*/

@media (min-width: 992px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* col-lg-* classes*/

@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */

@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3.0rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: #1EAEDB;
}

a:hover {
  color: #0FA0CE;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 46px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  padding: 0 30px;
  color: #686868;
  text-align: center;
  font-size: 13px;
  line-height: 38px;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #979797;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: $brand-color;
  border-color: $brand-color;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: darken($brand-color, 5%);
  border-color: darken($brand-color, 5%);
}

.button.button-outline-primary,
button.button-outline-primary,
input[type="submit"].button-outline-primary,
input[type="reset"].button-outline-primary,
input[type="button"].button-outline-primary {
  color: #FFF;
  background-color: $brand-color;
  border-color: $brand-color;
}

.button.button-outline-primary:hover,
button.button-outline-primary:hover,
input[type="submit"].button-outline-primary:hover,
input[type="reset"].button-outline-primary:hover,
input[type="button"].button-outline-primary:hover,
.button.button-outline-primary:focus,
button.button-outline-primary:focus,
input[type="submit"].button-outline-primary:focus,
input[type="reset"].button-outline-primary:focus,
input[type="button"].button-outline-primary:focus {
  color: #FFF;
  background-color: darken($brand-color, 5%);
  border-color: darken($brand-color, 5%);
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label>.label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

pre>code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
}
table th,
table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}


.table-dark {
  th {
    background-color: #F2F4F8;
    border-bottom-color: $border-color;
  }
  td {
    background-color: #F7F8FB;
  }
}
.table-stripped {
  tr:nth-child(2n) {
    td {
      background-color: #FBFCFD;
    }
  }
}
.table-light {
  th {
    background-color: #FAFBFC;
  }
  td {
    background-color: #FFFFFF;
  }
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button,
p,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}
.mx-x-small {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-x-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-round-x-small {
  margin: 0.5rem;
}

.ml-x-small {
  margin-left: 0.5rem;
}

.mr-x-small {
  margin-right: 0.5rem;
}

.mt-x-small {
  margin-top: 0.5rem;
}

.mb-x-small {
  margin-bottom: 0.5rem;
}

.mx-small {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-small {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-round-small {
  margin: 0.75rem;
}

.ml-small {
  margin-left: 0.75rem;
}

.mr-small {
  margin-right: 0.75rem;
}

.mt-small {
  margin-top: 0.75rem;
}

.mb-small {
  margin-bottom: 0.75rem;
}

.mx-medium {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-medium {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-round-medium {
  margin: 1rem;
}

.ml-medium {
  margin-left: 1rem;
}

.mr-medium {
  margin-right: 1rem;
}

.mt-medium {
  margin-top: 1rem;
}

.mb-medium {
  margin-bottom: 1rem;
}

.mx-large {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-large {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-round-large {
  margin: 1.5rem;
}

.ml-large {
  margin-left: 1.5rem;
}

.mr-large {
  margin-right: 1.5rem;
}

.mt-large {
  margin-top: 1.5rem;
}

.mb-large {
  margin-bottom: 1.5rem;
}

.mx-x-large {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-x-large {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-round-x-large {
  margin: 2rem;
}

.ml-x-large {
  margin-left: 2rem;
}

.mr-x-large {
  margin-right: 2rem;
}

.mt-x-large {
  margin-top: 2rem;
}

.mb-x-large {
  margin-bottom: 2rem;
}
.px-0 {
  margin-left: 0;
  margin-right: 0;
}
.py-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.pt-0 {
  margin-top: 0;
}
.pb-0 {
  margin-bottom: 0;
}
.pl-0 {
  margin-left: 0;
}
.pr-0 {
  margin-right: 0;
}
.px-x-small {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-x-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-round-x-small {
  padding: 0.5rem;
}

.pl-x-small {
  padding-left: 0.5rem;
}

.pr-x-small {
  padding-right: 0.5rem;
}

.pt-x-small {
  padding-top: 0.5rem;
}

.pb-x-small {
  padding-bottom: 0.5rem;
}

.px-small {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-small {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-round-small {
  padding: 0.75rem;
}

.pl-small {
  padding-left: 0.75rem;
}

.pr-small {
  padding-right: 0.75rem;
}

.pt-small {
  padding-top: 0.75rem;
}

.pb-small {
  padding-bottom: 0.75rem;
}

.px-medium {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-medium {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-round-medium {
  padding: 1rem;
}

.pl-medium {
  padding-left: 1rem;
}

.pr-medium {
  padding-right: 1rem;
}

.pt-medium {
  padding-top: 1rem;
}

.pb-medium {
  padding-bottom: 1rem;
}

.px-large {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-round-large {
  padding: 1.5rem;
}

.pl-large {
  padding-left: 1.5rem;
}

.pr-large {
  padding-right: 1.5rem;
}

.pt-large {
  padding-top: 1.5rem;
}

.pb-large {
  padding-bottom: 1.5rem;
}

.px-x-large {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-x-large {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-round-x-large {
  padding: 2rem;
}

.pl-x-large {
  padding-left: 2rem;
}

.pr-x-large {
  padding-right: 2rem;
}

.pt-x-large {
  padding-top: 2rem;
}

.pb-x-large {
  padding-bottom: 2rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.cdk-text-field-autofill-monitored:-webkit-autofill {
  box-shadow: 50px 50px inset #fff;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}


.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
td p, th p {
  margin-bottom: 0;
}
.truncate {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #F3F5F9;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #C3CBDF;
  border-radius: 15px;
}

 ::-webkit-scrollbar-track {
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F3F5F9;
 }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */

@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}

/* Larger than tablet */

@media (min-width: 750px) {}

/* Larger than desktop */

@media (min-width: 1000px) {}

/* Larger than Desktop HD */

@media (min-width: 1200px) {}

.overlay-container {
  .toast-container {
    left: 330px;
    top: 110px;
    width: 100%;
    .toast {
      padding: 5px 15px 5px 50px;
      background-position: 20px 9px;
      width: 90%;
      max-width: 650px;
      background-repeat: no-repeat;
      background-size: 18px;
      box-shadow: 0 0 29px #bbb;
      button.toast-close-button {
        line-height: 1;
        margin: 0;
        height: 20px;
        top: -2px;
        color: inherit;
        font-weight: 300;
        text-shadow: none;
        font-size: 30px;
      }
      &:hover {
        box-shadow: 0 0 12px #666;
      }
    }
    .toast-success {
      border: 1px solid #7BB776;
      color: #28831C;
      background-color: #DDF8DF;
      background-image: url('../src/assets/images/check-mark.svg');
    }
    .toast-warning {
      border: 1px solid #E4C899;
      color: #C08629;
      background-color: #FCEFDA;
      background-image: url('../src/assets/images/warning.svg');
    }
    .toast-info {
      border: 1px solid #7B9EC3;
      color: #3A6DA5;
      background-color: #D7EBF0;
      background-image: url('../src/assets/images/info.svg');
    }
    .toast-error {
      border: 1px solid #D38D99;
      color: #A9071B;
      background-color: #FFE7E7;
      background-image: url('../src/assets/images/error.svg');
    }
  }
}

app-search {
  form.search-form {
    .mat-form-field {
      .mat-form-field-wrapper {
        padding: 0;
        height: 100%;
        .mat-form-field-flex {
          height: 100%;
          align-items: center;
        }
        .mat-form-field-infix {
          height: 100%;
          padding: 0;
          border-top: none;
        }
        .mat-form-field-underline {
          display: none;
        }
        .mat-icon {
          color: #999;
        }
        input {
          height: 100%;
          border: none;
        }
      }
      &.mat-form-field-appearance-legacy .mat-form-field-label {
        top: 50px;
      }
      &.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-25px) scale(.75) perspective(100px) translateZ(.001px);
      }
    }
  }
}
.single-customer-wrap .mat-slide-toggle {
  .mat-slide-toggle-bar {
    width: 44px;
    height: 24px;
    border-radius: 12px;
    background-color: #D0021B;
  }
  .mat-slide-toggle-thumb-container {
    top: 2px;
    left: 2px;
  }
  .mat-slide-toggle-thumb {
    background-color: #fff;
  }
  &.mat-checked {
    .mat-slide-toggle-bar {
      background-color: #59B71F;
    }
    .mat-slide-toggle-thumb-container {
      transform: translate3d(20px,0,0);
    }
  }
}
.mat-autocomplete-panel {
  .search-result {
    display: block;
  }
}

.mat-form-field-subscript-wrapper {
  z-index: 1;
  background: #fff;
}
th {
  .mat-sort-header-container {
    .mat-sort-header-button {
    line-height: 1;
    margin: 0;
    height: auto;
    }
    .mat-sort-header-arrow {
      .mat-sort-header-stem {
        width: 0;
        &:before {
          content: '';
          border:6px solid #999;
          border-bottom: none;
          border-left-color: transparent;
          border-right-color: transparent;
        }
      }
      .mat-sort-header-pointer-right, .mat-sort-header-pointer-middle, .mat-sort-header-pointer-left {
        display: none;
      }
    }
  }
  &[aria-sort="descending"]{
    .mat-sort-header-container {
      .mat-sort-header-arrow {
        .mat-sort-header-stem {
          &:before {
            border-bottom:6px solid #999;
            border-top: none;
          }
        }
      }
    }
  }
}

.circle-img {
  width: 60px;
  min-width: 60px;
  margin-right: 5px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.popup-menu {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.2s ease;
  text-align:left;
  border-radius: 4px;
  box-shadow: -10px 9px 21px 0 rgba(128, 152, 213, 0.08);
  background-color: #ffffff;
  border: solid 1px #e8ebf2;
  padding: 5px 0;
  .popup-menu_item {
    cursor: pointer;
    margin: 0;
    padding: 5px 15px 5px 20px;
    position: relative;
    &:hover {
      background-color: #F6F7FA;
    }
    &.active {
      color: $brand-color;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 10px;
        top: 12px;
        width: 0;
        height: 0;
        border: 6px solid $brand-color;
        border-right: 0;
        border-top-color: transparent;
        border-bottom-color: transparent;
      }
    }
  }
}
.show + .popup-menu {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}